#ParentsPage {
  height: 100%;

  .ReactTable {
    max-height: 85%;
    @media ( max-height: 1080px ){ max-height: 80%; }
    @media ( max-height: 768px ){ max-height: 76%; }
    @media ( max-height: 731px ){ max-height: 90%; }
  }
}