@import 'styles/colors';

#ParentsPage {
  .ReactTable {
    max-height: 85vh;
    @media ( max-height: 1080px ){ max-height: 76vh; }
    @media ( max-height: 768px ){ max-height: 66vh; }
    @media ( max-height: 731px ){ max-height: 64vh; }
    // mobile
    @media ( max-width: 450px ){ max-height: 78vh; }
  }
}
// modal is portald out of parent for browser support
#NewParentModal {
  div#errors {
    width: 100%;
    padding: 10px 15px 0px;
    text-align: center;
  }
}