@import 'styles/colors.scss';

#SoldiersPage {
  height: 100%;
  margin-bottom: 10px;

  .btn-group {
    margin-top: 0px !important;
  }

  .inline-profile {
    max-height: 65px;
    width: 65px;
    border-radius: 15%;
    border: 1px solid $primary-color;
  }
  
  .ReactTable {
    height: calc( 100% - 50px );
    min-height: 450px;
    // page height grows as content shrinks
    @media ( max-width: 1024px ) {
      height: calc( 100% - 40px );
    }
    @media ( max-width: 412px ) {
      height: 100%;
    }
  }
}

#bulk-upload-modal {
  max-width: 650px;

  #warning {
    font-size: 1.3em; font-weight: 500;
    color: #c23030;
  }
}

#NewSoldierModal {
  max-width: 600px;
}
