#PlatoonsPage {
  
  .ReactTable {
    // Super-Sized displays
    max-height: 85vh;
    // Desktop
    @media ( max-height: 1080px ){ max-height: 76vh; }
    // iPad
    @media ( max-height: 768px ){ max-height: 68vh; }
    @media ( max-height: 731px ){ max-height: 67vh; }
    // mobile
    @media ( max-width: 450px ){ max-height: 80vh; }

    .rt-tr-group { overflow: hidden; }
    .rt-tr { align-items: center; }
    .rt-td { white-space: initial; }
  }

}