@font-face {
	font-family: digi;
	src: url(/mobile/reg/font/DS-DIGIB.TTF);
}

.medal-board {
    max-width: 1028px;
    margin: 10px auto 10px;
    text-align: center;
    width: 100%;
}

.medal-board .medal {
    text-align: center;
    padding: 0 15px 15px;
    background: white;
    border-radius: 10px;
    margin: 20px 0;
}

.medal-board .medal .medal-header {
    display: flex;
}

.medal-board .medal .medal-header2 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.medal-board .medal .medal-header2 .medal-header2-flex {
    display: flex;
    justify-content: space-between;
}

.medal-board .medal .medal-header2 .medal-header2-flex .cornerLabel {
    background: #4358a2;
    color: white;
    max-width: 300px;
    padding: 10px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    align-items: center;
    font-size: 16px;
    margin-top: 0;
    height: fit-content;
}

.medal-board .medal .medal-header2 .medal-header2-flex h2 {
    color: #1b2b51;
    text-align: left;
    margin-top: 15px;
    font-size: 35px;
    font-family: Tkuma;
}

.medal-board .medal .medal-header2 .medal-header2-flex p {
    font-size: 16px;
    margin: 10px 0;
    font-weight: 400;
    text-align: left;
}

.medal-board .medal .medal-header2 .medal-header2-flex p span {
    color: #ffd942;
    font-weight: 700;
    font-size: 20px;
}

.medal-board .medal a {
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15px;
}

.onlyMobile {
    display: none !important;
}

.onlyComputer {
    display: block;
}


@media ( max-width: 680px ) {
    .onlyMobile {
        display: block !important;
    }
    
    .onlyComputer {
        display: none !important;
    }

    .medal-board .medals-list .medals-list-img {
        height: 32px !important;
        width: 32px !important;
    }

    img.medal-img {
        width: 45px !important;
        height: 45px !important;
    }

    .medal-board .medal .medal-header2 .medal-header2-flex h2 {
        text-align: center !important;
        flex: 1;
        font-size: 28px;
    }

    .medal-board .medal .medal-header2 .medal-header2-flex p {
        font-size: 12px !important;
    }

    .medal-board .medal .medal-header2 .medal-header2-flex .cornerLabel {
        font-size: 12px;
        max-width: 170px;
    }
}



img.medal-img {
    width: 80%;
}

.medal-board .medals-list {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.medal-board .medals-list .medals-list-img {
    height: 50px;
    width: 50px;
}

.medal-board .medals-list .medals-list-incomplete {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    border-radius: 100%;
    opacity: 0.4;
}

.medal-board .medals-list .medals-list-incomplete img {
    opacity: 0;
}

.medal-board .medals-list .medals-list-incomplete span {
    position: absolute;
    font-weight: bold;
    font-size: 14px;
    color: white;
}

p.cornerLabel img.medal-img {
    max-width: 25px !important;
    max-height: 25px !important;
}

.medal-board .medal-subject {
    background-image: url(/mobile/img_new/medal-ribbon-color-blue.svg);
    background-size: 100% 100%;
    transform: scale(1.2);
    height: 30px;
    margin-top: -20px;
    position: relative;
    transition: .25s;
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.medal-board .medal-subject span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: #fff;
    font-family: Tkuma, Exo;
    margin-bottom: 5px;
    font-size: 16px;
}

.medal-board .medal-status {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0px;
}

.medal-board .progress-bar {
    background-color: #ffd942;
    height: 100%;
    /* background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent); */
    animation-name: progress-bar-slide;
    background-image: linear-gradient(to left, transparent, rgba(255,255,255,.15));
    animation-duration: 2.5s;
    border-radius: 15px;
}

/* colors for all the coming ranks */
.medal-board .progress-bar.white {
    background-color: #bbbbbb;
}
.medal-board .progress-bar.red {
    background-color: #c52d3a;
}
.medal-board .progress-bar.orange {
    background-color: #d55027;
}
.medal-board .progress-bar.yellow {
    background-color: #f0a62f;
}
.medal-board .progress-bar.green {
    background-color: #54ab5b;
}
.medal-board .progress-bar.blue {
    background-color: #334287;
}
.medal-board .progress-bar.purple {
    background-color: #654894;
}
.medal-board .progress-bar.brown {
    background-color: #915e4a;
}
.medal-board .progress-bar.gray {
    background-color: #b0bec5;
}
.medal-board .progress-bar.black {
    background-color: #616161;
}
.medal-board .progress-bar.bronze {
    background-color: #bcaaa4;
}

.medal-status span {
    position: absolute;
    top: 3px;
    right: 0px;
    left: 0px;    
    font-family: Exo;
    font-size: 0.8em;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
}

.medal-status.progress {
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    background-color: #c5cbd9;
}

@keyframes progress-bar-slide {
    from {max-width: 0%;}
    to {max-width: 100%;}
}

@media ( max-width: 322px ) {
    .medal-board .medal-subject {
        font-size: 0.5em;
    }
}

@media ( max-width: 870px ) {
    .medal-board .medal-subject span {
        font-size: 12px;
    }
}

@media ( max-width: 470px ) {
    .medal-board .medal-subject span {
        font-size: 10px;
    }
}

@media ( min-width: 400px ) {
    .medal-board .medal {
    }
}

@media ( max-width: 420px ) and ( min-height: 800px ){
    .medal-board .medal {
    }
}

/* Scale for Desktop */
@media ( min-width: 524px ) {
    .medal-board .medal-subject {
        height: 40px;
        margin-top: -25px;
        line-height: 45px;
        font-size: 0.9em;
    }
}

@media ( min-width: 680px ) {
    .medal-board .medal-subject {
        height: 40px;
        margin-top: -30px;
        line-height: 45px;
        font-size: 1.1em;
    }

    .medal-status.progress {
        height: 25px;
        font-size: 1.25em;
    }
    img.medal-img {
        width: 75%;
    }
}

@media ( min-width: 780px ) {
    .medal-board .medal-subject {
        height: 50px;
        margin-top: -30px;
        line-height: 55px;
        font-size: 1.1em;
    }
}

@media ( min-width: 1024px ) {
    .medal-board .medal {
    }
    img.medal-img {
    }
}

@media ( min-width: 900px ) {
    .medal-board .medal-subject {
        font-size: 1.5em;
    }
}