#PlatoonPage, #NewPlatoonPage {

  #save { margin-top: .5rem; }

  .alert-info { margin-bottom: 5px; }

  #connect-new-staff { margin-bottom: .5rem; }
  
}

#PlatoonsPage {
  height: 100%;
  min-height: 350px;
  
  .ReactTable {
    height: calc( 100% - 150px );
    // page height grows as content shrinks
    @media ( max-width: 1012px ) {
      height: calc( 100% - 180px ); // top of the page takes up 50px
    }
    @media ( min-width: 769px ) and ( max-width: 837px ) {
      height: calc( 100% - 200px ); // top of the page takes up 50px
    }
    @media ( max-width: 412px ) {
      height: calc( 100% - 50px ); // top of the page takes up 50px
    }
  }

}
