@import 'styles/colors.scss';

#Login {
  #login-page {
    display: flex;
    flex-direction: column;
    align-items: center; justify-content: center;
    height: calc( 100vh - 32px );

    img#logo {
      width: 20%;
      max-width: 250px;
    }

    #login-form {
      margin-top: 2%;
      text-align: center;
      width: 90%;
      max-width: 520px;
      transition: .25s;
      // space the inputs
      .input-group {
        margin: 10px 0px;
      }
      // put the icon in the input
      .input-group-prepend {
        // define the width to match the height
        width: 48px;
        // center the content
        justify-content: center;
        align-items: center;
        // set the border
        position: absolute;
        height: 100%;
        z-index: 10;
      }
      // eliminate border on input
      input.form-control:not(:first-child) {
        padding-left: 56px;
        border-radius: .3rem;
      }
      // increase the font size
      input {
        font-size: 1.5em;
      }
      // style the toggle
      #toggle-password:not(:hover) {
        color: #888;
      }
      // animate the login button
      button#login {
        width: 100%;
        transition: .25s;
        &:hover, &:focus { word-spacing: .5em; }
      }

      > strong { 
        display: block;
        font-size: .9em; 
        margin-top: 12px;
      }

      #sign-in-with {      
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-around;

        margin-top: 4px; width: 100%;

        .btn { margin-bottom: 15px; width: 250px; }
      }
    }

    @media (max-width: 768px) {
      img#logo {
        width: 200px;
      }
      #login-form{
        margin-top: 4%;
        max-width: 350px;
      }
    }
  }

  div#links {
      text-align: center;
      font-size: .9em;
      padding: 0px 3% 10px;
  }
}
