@import '../../styles/colors.scss';

#login-page {
  display: flex;
  flex-direction: column;
  align-items: center; justify-content: center;
  height: 100vh;

  img#logo {
    width: 20%;
    max-width: 250px;
  }

  #login-form {
    margin-top: 2%;
    text-align: center;
    width: 90%;
    max-width: 450px;
    transition: .25s;
    // space the inputs
    .input-group {
      margin: 10px 0px;
    }
    // put the icon in the input
    .input-group-prepend {
      // define the width to match the height
      width: 48px;
      // center the content
      justify-content: center;
      align-items: center;
      // set the border
      position: absolute;
      height: 100%;
      z-index: 10;
    }
    // eliminate border on input
    input.form-control:not(:first-child) {
      padding-left: 58px;
      border-top-left-radius: .3rem;
      border-bottom-left-radius: .3rem;
    }
    // increase the font size
    input {
      font-size: 1.5em;
    }
    // style the toggle
    #toggle-password {
      border-color: #ccc;
      &:hover {
        background: $primary-color;
        border-color: $primary-color-hover;
      }
    }
  }

  @media (max-width: 768px) {
    img#logo {
      width: 150px;
    }
    #login-form{
      margin-top: 4%;
      max-width: 350px;
    }
  }
}