#BCMarkPage {
  .buttons {
    margin-top: 8px;
    .btn { width: 100%; margin: 4px 0px; }
  }

  #missions {
    margin-top: 15px;
    padding-bottom: 15px;
  }
}

#TeacherMarkPage {
  .th-callout { margin-bottom: .5em; }

  #DailyTab { 
    .react-datepicker-wrapper, .btn { margin: 3px; }
    #options {
      margin-bottom: 10px;

      .btn { width: 100% }
    }
  }
}
