#RankCardsPage {
  
  @media print {
    .no-print { display: none; }
  }

  #rank-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    @media print { display: block; margin-top: 0px; }
  }
}
