.gnupg
node_modules/
.history/
.idea/
.idea/dataSources.xml
.prettierrc.json
vendor/
composer.lock
package-lock.json
yarn.lock
base-commander/package-lock.json
.idea/tzivos-hashem.iml
package-lock.json
mashpia.com/composer.lock
.vscode/
.idea/
mashpia.com/includes/
mashpia.com/public/chidonOld/reports/*.zip
mashpia.com/public/chidonOld/limud/**/*.mp3
mashpia.com/public/chidonOld/chidon_drive/ajax/phplog
mashpia.com/public/chidonOld/downloads/*.pdf
