* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.{ps1,[pP][sS]1} text eol=crlf
*.html text eol=lf
*.js text eol=lf
*.php text eol=lf
*.css text eol=lf
*.json text eol=lf
