/* 
    Document   : reg_extra
    Created on : Sep 3, 2015, 10:22:24 PM
    Author     : andyware
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

