#BasesPage {
  height: 100%;

  .btn-group { 
    margin-bottom: 10px; width: 100%;
    justify-content: flex-end;
    min-height: fit-content;
  }

  .ReactTable {
    max-height: calc( 100% - 50px ); // top of the page takes up 50px
  }

}

#BasePage {

  .tab-content { margin-bottom: 0px; }

  p.input-message {
    font-size: .7em;
    margin-bottom: 0px;
    text-align: center;
  }

  #store-miles label.checkbox {
    margin-top: .4em;
  }

  #save > button {
    width: 100%;
    margin-top: 10px;
  }

  #payment-profile > .row {
    margin-left: -5px;
  }

  #credit-cards {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    margin: 0px;

    .CardDisplay {
      padding: 10px;
      text-align: center;
    }

    .btn { width: 290px; margin-top: 8px; }
  }
}
