@import url('./assets/fonts/fonts.css');

:root {
  --font-primary: "Exo", "Montserrat", sans-serif;
  --font-italic: "Exo 2", "Montserrat", sans-serif;

  --color-yellow: #FFD94E;
  --color-red: #EE334C;
  --color-navy-bold: #1C2755;
  --color-navy:#304A9F;
  --color-white: #FFFFFF;
  --color-pink: #ff9aa7;
  font-size: 18px;
}


body {
  margin: 0;
  font-family: var(--font-primary);
  background-color: var(--color-white);
  color: var(--color-navy);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

