/* 
 * Donate page stylesheet for Chidon
 * 
 * Date: 2/3/2019
 * Author: Esty
 */

 .main {
 	 background: url(../img/donate/donate-bg.jpg); 
 	/*background: url(../img/donate/thumbs/donate-bg.jpg);*/
 	background-size: cover;
 	padding-top: 10rem;
 }
 h2.title {
 	text-align: center;
 }
 h2.formTitle {
	color: #85abda;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-top: 1rem;
    font-family: 'Gotham Narrow', sans-serif;
	font-weight: bold;
 }
.subtitle {
	color: #85abda;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
 }
 .tdColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
 }
 .inputContainer {
	display: flex;
	flex: 1;
	width: 100%;
 }
 .text {
	font-weight: 600;
    display: block;
    color: #85abda;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    margin-top: 1rem;
    line-height: 1.4;
 }

 .yellow {
	color: #e3b949 !important;
 }
 .main .wrapper {
 	padding-top: 5rem;
 }

.nice-select {
	background-color: #191c69;
	border: none;
	border-radius: 2px;
	text-transform: uppercase;
	font-weight: 600;
	padding: .5rem 30px .5rem 18px;
	height: 2rem;
	line-height: 1em;
}
.nice-select .list {
  background-color: #181c68;
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: transparent;
  padding: 0;
  text-align: center;
}

.flex {
	display: flex;
	align-items: center;
}

.flex > * {
	margin: 0 5px;
}

input.inputCheckbox {
	width: auto !important;
}

form h5.formDetails {
	text-transform: none;
}

form h5.formTitle {
	text-transform: none;
	font-weight: bold;
	text-decoration: underline;
	font-family: 'Russo One', sans-serif;
}

.form .flex.small-select > .nice-select {
	max-width: 120px;
}

.form .flex.medium-select > .nice-select {
	width: 70%;
}

input.numberInput {
	max-width: 50px;
}

tbody {
	flex: 1;
}

tr.child {
	display: flex;
    width: 100%;
}

.child > td {
	display: flex;
    align-items: center;
}
a.linkButton {
	font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    font-weight: 400;
	color: black;
	background: #e3b949;
    text-transform: uppercase;
}

.flexCenter {
	width: 100%;
	display: flex;
	justify-content: center;
}

.form .flex > label {
	font-weight: 100;
    font-size: 16px;
}

input {
	background: #181c68;
	border-radius: 2px;
	color: #85abda;
	border: none;
	outline: none;
	padding: .5rem;
}
.form {
	background: rgba(6, 9, 47, .8);
	border-radius: .5rem;
	width: 100%;
	max-width: 600px;
	padding: 2rem;
	margin: auto;
	margin-top: 4rem;
}
.form input {
	width: 100%;
}
.form textarea {
	height: 5rem;
	margin-bottom: 1rem;
} 
.field {
	margin-top: 4rem;
}
.form label, .form p {
	color: #85abda;
	margin-bottom: .5rem;
	font-size: 1.4rem;
	margin-top: 1rem;
	line-height: 1.4;
	display: flex;
    flex-direction: column;
}

.flexRow {
	display: flex;
	flex-direction: row !important;
	justify-content: center;
}

.form a {
	color: #85abda;
	text-decoration: underline;
	font-size: 1.4rem;
	line-height: 1.4;
}

.form label span {
	font-weight: 200;
	font-style: italic;
}
.form .field {
	margin-bottom: 1rem;
}
.form h5 {
	color: #85abda;
	font-size: 1.4rem;
	text-transform: uppercase;
	margin-top: 2rem;
	font-family: 'Gotham Narrow', sans-serif;
}

.form h5 b {
	color: #85abda;
	font-size: 1.4rem;
	margin-top: 2rem;
	font-family: 'Gotham Narrow', sans-serif;
	font-weight: bold;
}

form ul li b {
	color: #85abda;
	font-size: 1.4rem;
	margin-top: 2rem;
	font-family: 'Gotham Narrow', sans-serif;
	font-weight: bold;
}

form .listSection {
	background: #ffffff12;
	padding: 10px 15px 15px 35px;
	margin-top: 5px;
}

.form ul li {
	color: #85abda;
	font-size: 1.4rem;
	margin-top: 1rem;
	font-family: 'Gotham Narrow', sans-serif;
	text-align: left;
}

.bold {
	font-weight: bold !important;
}

form .checkboxLabel {
	font-weight: 100;
	font-family: 'Gotham Narrow', sans-serif;
}

form .checkboxDetails {
	font-weight: 100;
	font-family: 'Gotham Narrow', sans-serif;
	font-size: 16px;
}

.form h5.lower {
	text-transform: none;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid;
}
.form h5:first-child {
	margin-top: 1rem;
}
.form .group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.field > p > .listItem {
	text-align: left;
    padding-left: 20px;
    position: relative;
}
span.listItem:before {
    content: '';
    width: 5px;
    height: 5px;
    background: #85abda;
    position: absolute;
    top: 10px;
    left: 0px;
    border-radius: 10px;
}
.form .group .field {
	flex-grow: 1;
  margin-left: 1rem;
}
.form .group .field:first-child {
  margin-left: 0;
}
.form .group input {
	width: 100%;
}
.form .nice-select {
	width: 100%;
	float: none;
  color: #85abda;
}
.form .nice-select .option {
  color: #85abda;
  white-space: break-spaces;
  line-height: 1.5;
  margin-top: 10px;

}
.form .nice-select.open .list {
	width: 100%;
	/* overflow: scroll; */
	/* height: 600px; */
}
.form .nice-select .option:hover, .form .nice-select .option.focus, .form .nice-select .option.selected.focus {
	text-align: left;
	padding-left: 1rem;
}
.form .donate {
	width: 10rem;
	margin: auto;
  display: block;
  padding: .8rem;
}

.form.login p {
  font-weight: normal;
  text-align: center;
  font-size: 1.5rem;
  max-width: 30rem;
  margin: 1rem auto 2rem;
}
.form.login input {
  width: calc(100% - 6rem);
  float: right;
  margin-top: -5px;
}
.form.login .field {
  margin-bottom: 1rem;
  max-width: 25rem;
  margin: .5rem auto;
  padding: .1rem 0;
  display: block;
}
.form.login input.button {
	clear: both;
}
.form.login input.button {
  clear: both;
  float: none;
  width: 8rem;
  margin: 1rem auto;
  display: block;
  padding: .8rem;
}



.form.kids-wrapper {
  display: flex;
  justify-content: space-around;
}
.kids-wrapper .image-wrapper {
  width: 7rem;
  height: 7rem;
  background: #85adba;
  border-radius: 100%;
  margin: auto;
}
.kids-wrapper .kid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 23%;
}
.kids-wrapper .kid h6 {
	text-align: center;
	margin: 1rem 0;
}
.kids-wrapper .button {
	width: auto;
	padding: .8rem;
	text-align: center;
	margin-top: 1rem;
}

.group .button {
	margin-top: 3rem;
	/* max-width: 45%; */
}

@media(max-width: 600px) {
#shoesize {
	display:block !important;
}
#shoesize .field {
	min-width:80%;
	margin-left:0px;
}
.save-detail {
	display:block !important;
}

.group .button {
	min-width:80%;
}	

	.form.kids-wrapper {
		flex-wrap: wrap;
	}
	.kids-wrapper .kid {
		width: 45%;
		margin-bottom: 2rem;
		max-width: 45%;
	}
}
@media(max-width: 400px) {
#shoesize {
	display:block !important;
}
#shoesize .field {
	min-width:80%;
	margin-left:0px;
}
.save-detail  {
	display:block !important;
}


.group .button {
	min-width:80%;
}
	.form.kids-wrapper {
		flex-direction: column;
	}
	.kids-wrapper .kid {
		width: 100%;
		max-width: 100%;
		max-width: none;
	}
}

/* Date: 2/14/2019 */
.next-btn {
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;
}
.next-btn .button {
	padding: 10px;
	width: 150px;
}
.form.blue-circle  {
	padding: 30px 20px 40px;
}
.blue-circle .image-wrapper {
	background: #4f78bb;
}
.save-detail {
	text-align: center;
}
.group.save-detail .button {
	width: 200px;
	margin: 25px auto 0;
}

.button:disabled {
	cursor: no-drop !important;
}

.rafflesTable {
	background: #181c68;
    border-radius: 10px;
}

.rafflesTable .rafflesTableHeader td {
    border-bottom: 1px solid #070b34;
    padding: 15px 0px;
    color: #85abda;
    font-size: 1.25rem;
}

.rafflesTable .rafflesTableHeader td {
    border-bottom: 1px solid #070b34;
    padding: 15px 0px;
    color: #85abda;
    font-size: 1.25rem;
	font-weight: bold;
	text-transform: uppercase;
	border-right: 1px solid #070b34;
}

.rafflesTable .rafflesTableHeader td:last-child, .rafflesTable .rafflesTableDetails td:last-child {
	border-right: none;
}

.rafflesTable .rafflesTableDetails td {
	border-right: 1px solid #070b34;
	padding: 0px 15px;
}

.rafflesTable .rafflesTableDetails td > p {
	font-size: 1rem;
}

.footnote {
	font-size: 1rem !important;
    font-style: italic;
}

/* Setup */
form#personalInfo {
    text-align: center;
}
#children table {
    margin: 2rem 0 5rem;
	display: flex;
}
#children .child td:nth-child(2) label {
    font-size: 1.8rem;
    font-weight: bold;
}
#children .child .checkbox {
    margin-top: .9rem;
    width: 1.5rem;
    height: 1.5rem;
	min-width: 15px;
}
#children form input {
    font-size: 1.2rem;
    position: relative;
    top: .2rem;
}
div#children .field {
    text-align: left;
    max-width: 40rem;
    margin: 2rem auto;
}


.bar-row {
	margin: auto;
	display: flex;
	position: relative;
	justify-content: space-between;
	margin-bottom: 4rem;
}
.bar-row .description {
  margin-top: 4rem;
}
.bar-row p {
	color: #85abda;
	font-size: 1.5rem;
	line-height: 1.2em;
	max-width: 25rem;
}
.bar {
	position: relative;
	padding-top: 2rem;
	width: 100%;
	max-width: 600px;
	margin: 6rem 0;
}
.bar-circle {
	position: absolute;
	background: #afbdc4;
	border-radius: 100%;
	width: 84px;
	height: 84px;
	padding: 6px;
	top: 0;
	z-index: 5;
}
p.simple-arc > div > span {
	font-size: 10px;
}
.bar-circle__inner {
 	background: #8fa3ad;
 	width: 72px;
 	height: 72px;
 	border-radius: 100%;
 	border: 1px solid #ffffff; 
 	padding: 3px;
}
.bar-circle__inner span {
    font-weight: bold;
    font-size: 1.8rem;
    margin: auto;
    color: #0a173a;
}
.bar-circle__inner img {
 	display: inline-block;
  margin-left: 1.7rem;
  margin: auto;
  margin-top: .2rem;
  margin-bottom: -.3rem;
}
.setup-bar .bar-circle .simple-arc {
 	color: #8fa3ad;
 	font-size: 1rem;
 	font-weight: bold;
 	position: absolute;
 	top: -30px;
 	left: 40px;
}

.bar-bar {
	position: relative;
	top: 0;
	z-index: 1;
}
.bar-bar__wrapper {
	width: 100%;
	margin-left: 72;
	background: #8fa3ad;
	border: 2px solid #afbdc4;
	border-radius: 2rem;
	position: relative;
	margin-top: 1rem;
}
.bar-bar__wrapper .bar-bar__line {
	background: #e3b848;
	border-radius: 2rem;
	height: 1.5rem;
	width: 0%;
	position: relative;
	transition: .5s;
}
.bar-bar__wrapper .bar-bar__line.registration {
	background: #4f78bb;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
}
.bar-bar__wrapper .bar-bar__line .bar-bar__circle {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 100%;
	background: #c4922c;
	position: absolute;
	right: 0;
	left: 10px;
}
.bar-bar__wrapper .bar-bar__line.registration .bar-bar__circle {
	background: #3c65b0;
}
.bar-bar__wrapper .bar-bar__marker {
	position: absolute;
  left: calc(100% - 1.8rem);
  top: -3rem;
}
.bar-bar__wrapper .bar-bar__marker p {    
	position: absolute;
  right: 2rem;
  top: -1rem;
  width: 100px;
  font-weight: 800;
  font-size: 90%;
  color: #c4922c;
  text-align: center;
}
.bar-bar__wrapper .registration .bar-bar__marker p {
	color: #3c65b0;
}
.bar-bar__wrapper .remaining p {
	color: #85abda;
	right: 0;
}

.bar-row .badge {
  width: 180px;
  height: 180px;
  background: url(../img/donate/badge.png) no-repeat;
  background-size: contain;
  padding: 13rem;
  margin-left: -15rem;
  margin-top: -2rem;
  position: relative;
}
.bar-row .badge h6 {
	font-family: 'Russo One', sans-serif;
	font-size: 2rem;
	color: #4f78bb;
	line-height: 1.7em;
  margin-top: -10rem;
  margin-left: -1rem;
}
.bar-row .badge h6 span {
	font-family: 'Russo One', sans-serif;
	display: block;
	font-size: 5rem;
	text-align: center;
}

.setup-bar {
    padding: 2rem 5rem;
    padding-left: 0;
   	margin-bottom: 2rem;
}
.setup-bar .bar-bar__wrapper {
    margin: 0;
    margin-top: -2px;
    position: relative;
    left: 5px;
}
.setup-bar #simple-arc {
    top: -29px;
    left: 28px;
    transform: rotate(-25deg);
    letter-spacing: -10px;
}
.setup-bar .bar-bar__line p.tag {
    position: absolute;
    top: 0;
    font-size: 1rem;
    font-weight: 400;
}
.setup-bar .bar-bar__line p.tag {
    position: absolute;
    top: -3rem;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    left: 0;
    text-align: center;
    width: 100%;
}
.setup-bar .bar-bar__line.remaining p.tag {
    padding-left: 8rem;
}
.setup-bar .bar-bar__line.subsidy p.tag {
    color: #e3b848;
    width: 5rem;
    left: auto;
    right: 2.5rem;
    top: -3rem;
}
.setup-bar p.amount {
    position: absolute;
    z-index: 100;
    color: #85abda;
    top: 0;
    margin: 0;
    font-size: 1rem;
}
.setup-bar .remaining p.amount {
    margin: 0;
    padding-left: 5rem;
    width: 100%;
}
.setup-bar .subsidy p.amount {
    right: 5rem;
    color: #ffffff;
}
.setup-bar p.description {
    position: absolute;
    left: 100%;
    font-weight: 400;
    font-size: .8rem;
    top: -1rem;
    margin: 0;
    line-height: 1rem;
    width: 6rem;
    text-align: center;
}
.setup-bar .bar-bar:nth-child(3) p.description {
	padding-top: .8rem;
}

.setup-tickets .ticket-image {
    background: url(../img/ticket.png);
    width: 2.8rem;
    height: 2.9rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.setup-tickets  .grand-prize .ticket-image {
	background-image: url(../img/grand-prize.png);
}
.ticket-child {
    display: flex;
    justify-content: center;
    max-width: 28rem;
    margin: auto;
}
.ticket-child h5 {
    flex-grow: 1;
    text-align: left;
    text-transform: none;
}
.ticket, .grand-prize {
	display: flex;
	align-items: center;
	margin-left: 1rem;
	width: 5.5rem;
}
.ticket h6, .grand-prize h6 {
    font-size: 1.8rem;
    margin-left: 1rem;
    font-family: 'bould', sans-serif;
    font-weight: 500;
    color: #cbdce3;
}
.grand-prize h6 {
	color: #e3b848;
}

@media(max-width: 600px) {
	.setup-bar .subsidy p.amount {
		right: 12%;
	}
}

.login {
	text-align: center;
}
.login form {
	padding-bottom: 7rem;
} 
h2.login {
	font-size: 5rem;
}
.login p {
	color: #85abda;
	margin: 1rem 0 2rem;
	font-size: 1.4rem;
}
.login input {
	padding: 1rem;
	font-size: 1rem;
}
.login input[type=text], .login input[type=password] {
	width: 100%;
	max-width: 24rem;
	font-size: 1.4rem;
}
.login input::-webkit-input-placeholder {
	font-family: 'Russo One', sans-serif;
	font-weight: 200;
  text-transform: uppercase;
}
.login input::-moz-placeholder {
	font-family: 'Russo One', sans-serif;
	font-weight: 200;
  text-transform: uppercase;
}
.login input:-ms-input-placeholder {
	font-family: 'Russo One', sans-serif;
	font-weight: 200;
  text-transform: uppercase;
}
.login input:-moz-placeholder {
	font-family: 'Russo One', sans-serif;
	font-weight: 200;
  text-transform: uppercase;
}
.login input[type=submit] {
    font-weight: 800;
    font-size: 2rem;
    width: auto;
    padding: 1rem 3rem;
}

@media(max-width: 480px) {
	.setup-bar .bar-bar__line p.tag {
		width: 152px;
		top: -4rem;
	}
	.bar-bar__wrapper .remaining p br {
		display: none;/
	}
}

.anash_kinder {
	display: none;
}