/* 
 * Homepage stylesheet for Chidon
 * 
 * Date: 2/2/2019
 * Author: Esty
 */

 #fullpage {
	 position: relative;
 }

 #chidonDriveContainer {
	background-color: rgba(6, 9, 47, .8);
    height: 200px;
    width: 300px;
    border-radius: 15px;
    position: absolute;
    z-index: 2;
    top: calc(50% - 125px);
    left: calc(50% - 150px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
 }

 #chidonDriveContainer img {
	 width: 35px;
 }

 #chidonDriveContainer p {
	font-family: 'Russo One', sans-serif;
	font-size: 2rem;
	color: #85abda;
	padding: 15px;
 }

 .button {
	 text-align: center;
 }

.section {
	background-size: cover;
	background-position: center center;
}
.section:not(#section0):not(footer) .wrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.slide {
	background-size: cover;
	background-position: center center;
}

#section0 .event-wrapper a {
	margin: 1rem;
	text-align: center;
}

#section0 .buttons-wrapper a {
	margin-right: 1rem;
}
.thermometer-image {
	position: absolute;
	bottom: 9rem;
	left: 0;
	width: 33%;
}
.thermometer-image .bar .bar-percent {
	top: -4px;
	padding: 8px 8px 5px 8px;
}
.thermometer-image .bar .bar-percent .bar-percent__number {
	width: 6rem;
	height: 6rem;
	text-align: center;
	padding-top: 20px;
}
.thermometer-image .bar .bar-line {
	border-width: 4px;
}
.thermometer-image .bar .bar-line__bar {
	height: 25px;
}
.thermometer-image .bar .bar-line__circle {
	width: 2rem;
	height: 2rem;
}
.thermometer-image .bar .bar-line__marker-number {
	font-size: 18px;
	font-weight: 700;
	color: #6988c5;
	top: 3px;
	/*override style.css*/
	right:300%;
}
.thermometer-image .bar-line__other-number {
	position: absolute;
	top: 3px;
	/* right: -150px; */
	right: -90px;
	font-size: 18px;
	font-weight: 700;
	color: #6988c5;
	z-index: 1;
}

#section0 h2 {
	font-family: 'Russo One', sans-serif;
	font-size: 3rem;
	color: #85abda;
	text-transform: uppercase;
}
#section0 .wrapper {
	position: relative;
	height: 100%;
	max-width: 1200px;
}
#section0 h2 {
	position: absolute;
	bottom: 16rem;
	left: 0;
}

#section0 .event-wrapper {
	position: absolute;
	margin: auto;
	bottom: 350px;
	right: 0;
	z-index: 100;
}

#section0 .buttons-wrapper {
  position: absolute;
  bottom: 5rem;
  right: calc(((100vw - 1200px) / 2) + 2rem);
  z-index: 100;
}

#section0 .thermometer-wrapper {
  position: absolute;
  bottom: 2rem;
  left: calc(((100vw - 1200px) / 2) + 0rem);
  z-index: 100;
  border:1px solid yellow;
}


#section0 .thermometer-wrapper .thermometer-image .bar .bar-line__marker-number {
	right: -230%;
	top: 0;
}

#section0 .thermometer-wrapper .thermometer-image .bar-line__other-number {
	position: absolute;
	top: 70px;
	/* right: -150px; */
	right: -250%;	
}


#section0 .thermometer-wrapper .thermometer-image .bar .bar-line {
	width: 350px;
	margin-left: 6rem;
}

#section0 .thermometer-wrapper .thermometer-image .bar .bar-line__marker {
	/* right:100px; */
}


#section1 .half {
	width: 50%;
	height: 100%;
	float: left;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding-bottom: 5rem;
	background-size: cover;
	background-position: center center;
	transition: .5s;
}
#section1 .chidon {
	/* background-image: url(../img/home/support-chidon.jpg); */
	background-image: url(../img/home/thumbs/support-chidon.jpg);
	padding-left: calc(((100vw - 1200px) / 2) + 2rem);
	justify-content: flex-start;
}

#section1 .chidon:hover {
	background-image: url(../img/home/support-chidon-color.jpg);
}

#section1 .family {
	/* background-image: url(../img/home/support-family.jpg); */
	background-image: url(../img/home/thumbs/support-family.jpg);
	padding-right: calc(((100vw - 1200px) / 2) + 2rem);
}

#section1 .family:hover {
	background-image: url(../img/home/support-family-color.jpg);
}

#section2 {
	/* background-image: url(../img/home/leaderboard.jpg); */
	background-image: url(../img/home/thumbs/leaderboard.jpg);
	padding-top: 10rem;
	text-align: center;
}
#section2 .leaders {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
}
#section2 .leaders .leader {
  width: 30%;
  background: rgba(6, 9, 47, .7);
  border-radius: .5rem;
  padding: 2rem 3rem;
}
#section2 .leader-title h3 {
	color: #e2bc57;
	font-family: 'Russo One', sans-serif;
	font-size: 2rem;
}
#section2 .leader-title h3 span {
	color: #2253ac;
	font-size: 3rem;
	font-family: 'Russo One', sans-serif;
}
#section2 .leader-stats {
	display: flex;
	justify-content: space-around;
	margin-top: 4rem;
	color: #85abda;
	font-weight: bold;
}
#section2 .leader-stats > div {
	padding: 1rem;
	text-align: center;
}
#section2 .leader-stats img {
	display: inline-block;
	margin-bottom: .5rem;
}
#section2 .button {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	background: #171a68;
	color: #85abda;
	border-radius: 2px;
	border-color: #080c42;
	text-align: left;
	width: 15rem;
	font-size: 1rem;
}
#section2 .button img {
	top: 1.2rem;
}

#section3{
	/* background-image: url(../img/home/trophies.jpg); */
	background-image: url(../img/home/thumbs/trophies.jpg);
	padding-top: 10rem;
	text-align: center;
}
#section3 .trophies-wrapper {
	display: flex;
  background: rgba(6, 9, 47, .7);
  margin-top: 4rem;
  padding: 2rem 0;
}
#section3 .trophies-wrapper h4 {
	font-family: 'Russo One', sans-serif;
	color: #85adba;
	text-transform: uppercase;
  transform: rotate(-90deg);
  font-weight: 900;
  font-size: 1.5rem;
  position: relative;
  left: 2rem;
}
#section3 .trophy {
  width: 30%;
  position: relative;
  display: flex;
  align-items: center;
}
#section3 .trophy.gold {
  margin-left: 50px;
}
#section3 .trophy .image-wrapper {
  width: auto;
  height: 220%;
  position: absolute;
  bottom: -30px;
  left: -50px;
}
#section3 .trophy .image-wrapper img {
  width: auto;
  height: 100%;
}
#section3 .trophy .text-wrapper {
	width: 60%;
	margin-left: 20%;
	color: #e3b949;
}
#section3 .trophy .text-wrapper .trophy-type {
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;
}
#section3 .trophy .text-wrapper h6 {
	color: #e3b949;
}
#section3 .trophy.silver .text-wrapper, #section3 .trophy.silver .text-wrapper h6 {
	color: #b7b1ae;
}
#section3 .trophy.bronze .text-wrapper, #section3 .trophy.bronze .text-wrapper h6 {
	color: #e39362;
}
#section3 .trophy.bronze .text-wrapper .trophy-type {
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: bold;
}
#section3 .trophy .text-wrapper h6 {
	font-family: 'Russo One', sans-serif;
	font-size: 1.5rem;
	margin: .3rem;
}
#section3 .trophy .text-wrapper .trophy-credits {
	font-size: 1rem;
	font-style: italic;
}
#section3 .button {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	background: #171a68;
	color: #85abda;
	border-radius: 2px;
	border-color: #080c42;
	text-align: left;
	width: 15rem;
	font-size: 1rem;
}
#section3 .button img {
	top: 1.2rem;
}

#section4 {
	/* background-image: url(../img/home/medals.jpg); */
	background-image: url(../img/home/thumbs/medals.jpg);
	padding-top: 10rem;
	text-align: center;	
}
#section4 .medals-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}
#section4 .medals-wrapper .medal-partner {
	width: 20%;
	color: #85abda;
}
#section4 .medals-wrapper .medal-partner h6 {
	font-family: 'Russo One', sans-serif;
	font-size: 1.5rem;
	margin: .3rem;	
}
#section4 .medals-wrapper .medal-partner .medal-credits {
	font-size: 1rem;
	font-style: italic;
}

#section5 {
	/* background-image: url(../img/home/plaques.jpg); */
	background-image: url(../img/home/thumbs/plaques.jpg);
	padding-top: 10rem;
	text-align: center;	
}
#section5 .plaques-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}
#section5 .plaques-wrapper .plaque-partner {
	width: 15%;
	color: #85abda;
}
#section5 .plaques-wrapper .plaque-partner .image-wrapper {
	width: 50%;
	margin: 1rem auto;
}
#section5 .plaques-wrapper .plaque-partner img {
	width: 100%;
}
#section5 .plaques-wrapper .plaque-partner h6 {
	font-family: 'Russo One', sans-serif;
	font-size: 1.5rem;
	margin: .3rem;	
}
#section5 .plaques-wrapper .plaque-partner .plaque-credits {
	font-size: 1rem;
	font-style: italic;
}


#section6 {
	/* background-image: url(../img/home/chidon.jpg); */
	background-image: url(../img/home/thumbs/chidon.jpg);
	padding-top: 10rem;
	text-align: center;	
}
#section6 .sponsors-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}
#section6 .sponsors-wrapper .sponsor {
	width: 13%;
	height: calc(1200px * .13);
	margin: 0 1rem;
}
#section6 .sponsors-wrapper .sponsor img{
	width: 100%;
	padding: 1rem;
	transition: .5s;
}
#section6 .sponsors-wrapper .sponsor:hover img{
	padding: .2rem;
}
#section6 .sponsors-wrapper.second .sponsor {
	width: 10%;
	height: calc(1200px * .1);
}
#section6 .sponsors-wrapper.third .sponsor {
	width: 7%;
	height: calc(1200px * .07);
}
#section6 .sponsors-wrapper.fourth .sponsor {
	width: 5%;
	height: calc(1200px * .05);
}


#slide1{
	/* background-image: url(../img/home/passion.jpg); */
	background-image: url(../img/home/thumbs/passion.jpg);
	padding: 6% 0 0 0;
}
#slide2{
	/* background-image: url(../img/home/belonging.jpg); */
	background-image: url(../img/home/thumbs/belonging.jpg);
	padding: 6% 0 0 0;
}
#slide3{
	/* background-image: url(../img/home/empowerment.jpg); */
	background-image: url(../img/home/thumbs/empowerment.jpg);
	padding: 6% 0 0 0;
}
#slide4{
	/* background-image: url(../img/home/chidon.jpg); */
	background-image: url(../img/home/thumbs/chidon.jpg);
	padding: 6% 0 0 0;
}

@media(min-width: 1600px) {
	.wrapper {
		max-width: 1400px;
	}
	#section1 .chidon {
		padding-left: calc(((100vw - 1400px) / 2) + 2rem);
	}
	#section1 .family {
		padding-right: calc(((100vw - 1400px) / 2) + 2rem);
	}
}

@media(max-width: 1920px) {
	#section0 .event-wrapper {
		left: 35%;
	}
}

@media(max-width: 1600px) {
	#section0 .event-wrapper {
		left: 30%;
	}
}

@media(max-width: 1440px) {
	#section0 .event-wrapper {
		left: 30%;
	}
}

@media(max-width: 1240px) {
	#section0 h2 {
		left: 2rem;
	}
	#section0 .thermometer-wrapper {
		left: 2rem;
		bottom: 0;
	}
	#section0 .event-wrapper {
		left: 25%;
	}
}
@media(max-width: 1200px) {
	#section0 .buttons-wrapper {
		right: 2rem;
	}
	#section0 .event-wrapper {
		left: 24%;
	}
	#section1 .chidon {
		padding-left: 2rem;
	}
	#section1 .family {
		padding-right: 2rem;
	}
	#section2 .leaders {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	#section2 .leader {
		min-width: 300px;
		margin-top: 1rem;
	}

	#section3 .trophy-wrapper {
		display: flex;
		justify-content: space-around;
	}
	#section3 .trophies-wrapper {
		flex-direction: column;
		width: 380px;
	}
	#section3 .trophies-wrapper h4 {
		transform: rotate(0);
    left: 0;
	}
	#section3 .trophies-wrapper .trophy {
		width: 100%;
    margin: 4rem 1rem;
	}
	#section3 .trophy.gold {
	  margin-left: 1rem;
	}
	#section3 .trophies-wrapper .trophy .image-wrapper {
		width: 20%;
		left: 0;
	}
	#section3 .trophies-wrapper .trophy .image-wrapper img {
		width: 100%;
		height: auto;
	} 
	#section3 .trophies-wrapper .trophy .text-wrapper {
		width: 70%;
	}
	
	#section5 .plaques-wrapper {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	#section5 .plaques-wrapper .plaque-partner {
		min-width: 210px;
	}

	#section6 .sponsors-wrapper .sponsor {
		height: calc(100vw * .13);
	}
	#section6 .sponsors-wrapper.second .sponsor {
		height: calc(100vw * .1);
	}
	#section6 .sponsors-wrapper.third .sponsor {
		height: calc(100vw * .07);
	}
	#section6 .sponsors-wrapper.fourth .sponsor {
		height: calc(100vw * .05);
	}

}
@media(max-width: 900px) {
	#section0 .event-wrapper {
		left: 15%;
	}
	#section0 h2 {
    bottom: 21rem;
  }
  .thermometer-image {
  	width: 43%;
  	bottom: 16rem;
  }
}

@media(max-width: 860px) {
	#section2, #section3, #section4, #section5 {
		height: auto !important;
	}
  #section3 .trophy-wrapper {
  	flex-wrap: wrap;
  }
  #section4 .medals-wrapper {
  	flex-wrap: wrap;
  	justify-content: space-around;
  }
  #section4 .medals-wrapper .medal-partner {
  	min-width: 200px;
  }
}

@media(max-width: 767px) {
	.thermometer-wrapper {
		bottom: 2.5rem;
	}
	#section0 .thermometer-wrapper .thermometer-image .bar .bar-line {
		max-width: calc(100vw - 10rem);
	}
	.thermometer-image {
		/*display: none;*/
	}
	#section0 .slide .wrapper h2 {
		bottom: 22rem;
		font-size: 3rem;
	}
	#section0 .event-wrapper {
		left: 9%;
	}
}

@media(max-width: 660px) {
	#section0 .event-wrapper {
		left: 6%;
	}
}

@media(max-width: 600px) {
	#section0 .event-wrapper {
		left: 1rem;
	}
	#section0 h2 {
    bottom: 15rem;
    right: 3rem;
	}
	#section0 .button {
		display: block;
		margin-top: 1rem;
	}
	#section1 .half {
		width: 100%;
		height: 50%;
	}
	#section4, #section5, #section6, #section3, #section2 {
		padding-bottom: 5rem;
		padding-top: 5rem;
	}
	#section6 {
    min-height: 310vw;
  }
	#section6 .sponsors-wrapper {
		flex-wrap: wrap;
		margin-top: 0;
	}
	#section6 .sponsors-wrapper .sponsor {
    margin-top: 2rem;
    min-width: 5rem;
    min-height: 5rem;
	}
}

@media(max-width: 575px) {
	#section0 h2 {
		bottom: 15rem;
	}
}

@media(max-width: 400px){
	#section6 {
    min-height: 375vw;
	}
}