/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
// Variables
$primary-color: #3e6dc4;
$primary-color-dark: #335eac;
$primary-color-hover: #2c539e;

#mashpia-navbar{
  font-family: 'Poppins', sans-serif;
  background-color: $primary-color-dark;
  color: #fff;

  .navbar-brand {
    transition: all .3s;
    img {
      height: 46px;
      transition: all .3s;
    }
    span {
      margin-left: .5em;
      font-size: 1.3em;
      vertical-align: middle;
      transition: all .3s;
    }
  }

  #navbar-title {
    font-size: 1.7em;
  }

  #navbar-menu {
    a {
      color: #fff;
      display: inline-block;
      transition: .3s;
      
      span {
        vertical-align: middle;
      }

      &:hover {
        text-decoration: none;
        cursor: pointer;
        transform: scale(1.1);
      }
    }
    img {
      display: inline-block;
      width: 25px;
      margin-right: 5px;
    }
  }
}

@media( max-width: 1024px ){
  #mashpia-navbar {
    .navbar-brand {
      &:hover {
        cursor: pointer;
      }
      img {
        height: 26px;
      }
      span {
        font-size: 1em;
      }
    }
    #navbar-title {
      font-size: 1.2em;
    }
  }
}

@media( max-width: 680px ) {
  #navbar-title {
    display: none;
  }
}