/* Filter options */
#filters {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.filter-title {
    display: inline-block;
    font-size: 1.2em;
    margin-right: .5em;
}
.filter-options {
    display: inline-flex;
    vertical-align: middle;
}
.filter-option > span {
    border: 1px solid #ccc;
    padding: 6px 10px;
    background: #fff;
    transition: .25s;
    display: inline-block;
}
.filter-option > span:hover{
    cursor: pointer;
    background: -webkit-linear-gradient(top,#e9e9e9,#b7b8B9);
}
.filter-option > input[type="radio"]:checked ~ span {
    background: -webkit-linear-gradient(top,#e9e9e9,#b7b8B9);
}
.filter-option:first-child > span {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.filter-option:last-child > span {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
input[type="radio"] {
    display: none;
}
@media screen and (min-width: 400px) {
    .filter-option > span {
        padding: 6px 17px;
    }
}
@media screen and (min-width: 479px) {
    .filter-option > span {
        padding: 6px 32px;
    }
}
/* Leaderboard */
.modal-header {
    border-radius: 3.5px;
}
section#leaderboard {
    margin-bottom: 91px;
    text-align: center;
}
.user {
    width: 95%;
    display: inline-block;
    padding: 2%;
    margin: 1% 2%;
    box-shadow: -2px 3px 10px #ccc;
    border-radius: 5px;
    vertical-align: middle;
}
.user > img, .user div {
    display: inline-block;
}
.user > img {
    width: 20%;
    vertical-align: top;
}
.user h1.position {
    font-size: 2em;
    margin-bottom: 0px;
    vertical-align: middle;
    font-family: monospace;
}
.user h2.name {
    font-size: 1.15em;
    margin-bottom: 0px;
    vertical-align: middle;
    text-transform: capitalize;
}
.user div.user_info {
    width: 78%;
    padding: 0% 2%;
}
.medal_count, .mission_count {
    width: 50%;
    margin-top: 5px;
}
@media ( min-width: 630px ) {
    .user {
        width: 48%;
        margin: .5%;
    }
}

@media (min-width: 1000px) {
    .user {
        width: 28%;
        margin: .5%;
    }
}
