#PlatoonTransitionPage {
  padding-bottom: 2.5vh;

  .row {
    align-items: flex-end;
  }

  .btn { margin-top: 10px; }

  p.title{
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 1em;
  }

  .ReactTable {
    max-height: 70vh;
  }

  div#step-3 {
    max-height: 300px;
    transition: 1s;
    animation-fill-mode: forwards;
    &.hide { max-height: 0px; overflow: hidden; }
    &.show { animation: 1s delay-overflow; }
  }

  div#deploy {
    margin-top: 10px;
    @media ( min-width: 768px ) {
      .btn { margin-top: 0px; }
    }
  }
}

@keyframes delay-overflow {
  0% { overflow: hidden;}
  99% { overflow: hidden;}
  100% { overflow: visible; }
}
