.card_front, .card_back {
  /*width: 3.375in;
   height: 2.125in; */
  text-align: center;
  font-size: 10px;
}

.card_back .barcode {
  width: 2.75in;
  height: auto;
  margin: auto;
  padding: .1in 0px;
}

.card_back .barcode img {
  width: 2.43in;
  height: .3in;
}

.card_front table {
  margin: auto;
}

.card_front table td {
  padding: 0px .1in;
}

.card_front_left table td {
  text-align: left;
}

.card_front_right table td {
  text-align: right;
}

.card_front table td img {
  height: .4in;
}

.card_back div {
  margin: 0px .25in;
  padding: .1in 0px;
  height: 1.425in; /* 2.125 - 2 * .25 - 2 * .1 */
  position: relative;
}

.card_back div td div {
  height: auto;
  margin: 0px;
  padding: 0px;
}

.card_back p {
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  font-size: .09in;
}

.card_back p b {
  font-size: .18in;
}

.card_front p img {
  width: 2.75in;
}

.card_front .border, .card_back .border {
  /*border: .03in solid black !important;
  -webkit-border-radius: .04in;
  -moz-border-radius: .04in;
  border-radius: .04in;*/
}

.card_front .circle, .card_back .circle {
  border: .03in solid black !important;
  -webkit-border-radius: .2in;
  -moz-border-radius: .2in;
  border-radius: .2in;
  line-height: .2in;
  width: .2in;
  margin: auto !important;
  font-weight: bold;
  text-align: center;
}

.card_back table {
  margin: auto;
}

.card_back table td {
  vertical-align: top;
  padding-top: .25in;
  font-weight: bold;
}

.card_back table th img {
  height: .75in;
  display: block;
  margin: auto;
}

.card_back .points {
  position: absolute;
  width: 2.875in; /* 3.375 - 2 * .25 */
  margin: 0px;
  padding: 0px;
  font-size: 0.1in;
  line-height: .2in;
  bottom: -.13in; /* line-height/2 + border */
  height: auto;
  text-transform: uppercase;
}

.card_back .points td {
  padding: 0px;
  font-weight: bold;
  font-size: 150%;
}

.card_back .points td div {
  height: auto;
  margin: 0px;
  padding: 0px .1in;
  background-color: #e0f3d2;
}
