body {
    padding-bottom: 0px;
}
header.navbar {
    background-color: rgb(255, 26, 26);
}
.container {
   text-align: center;
}
.page-goals header.navbar h1 { height: auto; display: inline-block; }
.navbar {
    margin-bottom: 0 !important;
}
header#top {
    height: 10vh;
}
.logo {
    width: 80px;
    display: inline-block;
    transition: .5s ease-in-out;
    padding: 10px;
    float: left;
}
.container.body {
    margin-top: 70px;
}
.container.body.shrink {
    padding: 0px;
    margin: 0px;
}
.container.body.shrink .content {
    max-width: none;
}
.container.body.shrink div#main {
    padding: 0px;
    margin-bottom: 0px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
/* barcode scanner image */
.innerImg {
    /* Location of the image */
    background-image: url("/mobile/img_new/scanner-2-color-red-svg.svg");
    /* Background image is centered vertically and horizontally at all times */
    background-position: top;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
}
.innerImg p {
    max-width: 70%;
    padding-top: 100px;
}
/* barcode and text inputs */
.content {
    max-width: 500px;
    margin: auto;
}
div#barcode_scanner.show {
    height: 90vh;
    width: 100vw;
}
/* barcode quaggajs scanner styles */
#barcode_scanner.viewport {
    position: relative;
}
#barcode_scanner.viewport > canvas, #barcode_scanner.viewport > video {
    width: 100%;
    height: 100%;
    -o-object-fit: initial;
    object-fit: initial;
}

canvas.drawing, canvas.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
}

/* non-scanner UI */
#scanner {
    max-width: 200px;
}