@import 'styles/colors';

.Password {
  .input-group-prepend {
    // define the width to match the height
    width: 48px;
    // center the content
    justify-content: center; align-items: center;
    // set the border
    position: absolute; height: 100%; z-index: 10;
  }
  // add space for icon if present
  input.form-control:not(:first-child) {
    padding-left: 56px; border-radius: .3rem;
  }
  // add space for toggle if present
  input.form-control:not(:last-child) {
    padding-right: 60px; border-radius: .3rem;
  }
  // place the button over the input
  .input-group-append {
    position: absolute; right: 0px; height: 100%; z-index: 10;
  }
  // style the toggle
  #toggle-password {
    border: none;
    border-left: 1px solid #ccc;
    &:hover {
      background: $primary-color;
      border-color: $primary-color-hover;
    }
  }
}