/* 
 * Donate page stylesheet for Chidon
 * 
 * Date: 2/3/2019
 * Author: Esty
 */

 .main {
 	background: url(../img/donate/donate-bg.jpg);
 	background-size: cover;
 	padding-top: 10rem;
 }
 h2.title {
 	text-align: center;
 }
 .main .wrapper {
 	padding-top: 5rem;
 }

.sub-title {
	text-align: center;
	font-size: 32px;
	font-family: 'Russo One', sans-serif;
}
.offer {
	padding: 40px 0;
	color: #85abda;
	text-align: center;
	font-size: 25px;
	font-family: 'Russo One', sans-serif;
}
.offer span {
	color: #e3b949;
	font-size: 38px;
	font-family: 'Russo One', sans-serif;	
}
.blue-box {
	padding: 40px 30px;
	background: rgba(1, 1, 27, 0.7);
}
.chidon-drive {
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}
.chidon-drive .blue-box {
	width: 45.5%;
	float: left;
	min-height: 460px;
	margin: 0 20px 30px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}
.chidon-drive .blue-box h3 {
	padding-bottom: 50px;
	font-family: 'Russo One', sans-serif;	
	font-size: 25px;
}
.chidon-drive .blue-box h4 {
	font-family: 'Gotham Narrow Book', sans-serif;
	font-size: 20px;
	font-weight: 400;
}
.drive-image {
	padding-top: 40px;
}
.growth-image {
	padding-top: 55px;
}
.percetage-image {
	margin: -13px 0 -10px;
}
.chidon-drive .enroll-wrap .blue-box {
	width: auto;
	float: none;
	overflow: hidden;
	clear: both;
	padding: 30px 30px 40px;
	min-height: 10px;
}
.enroll-item {
	float: left;
	width: 50%;
}
.blue-box .enroll-item h3 {
	padding-bottom: 40px;
	color: #4f78bb;
	font-size: 22px;
}
.blue-box .enroll-item h4 {
	padding-bottom: 20px;
	min-height: 85px;
}
.enroll-item .button {
	padding: 9px 15px;
	width: 270px;
	font-size: 20px;
}
.enroll-popup {
	padding: 40px;
	width: 385px;
	margin: 0 0 0 auto;
	background: #171a68;
	text-align: center;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}
.enroll-popup h4 {
	font-family: 'Gotham Narrow', sans-serif;
	font-size: 23px;
}
.popup-wrap {
	max-width: 860px;
	margin: 0 auto;
}

@media(max-width: 950px) {
	.chidon-drive .blue-box {
		width: 44.5%;
	}
}

@media(max-width: 899px) {
	.chidon-drive .blue-box {
		width: auto;
		float: none;
		min-height: 10px;
		margin: 0 0 30px;
	}
	.enroll-item {
		float: none;
		width: auto;
	}
	.blue-box .enroll-item {
		padding-bottom: 30px;
	}
	.blue-box .enroll-item:last-child {
		padding-bottom: 0;
	}
	.blue-box .enroll-item h3 {
		padding-bottom: 20px;
	}
	.blue-box .enroll-item h4 {
		min-height: 10px;
	}
}

@media(max-width: 600px) {
	.enroll-popup {
		width: auto;
	}
	.sub-title {
		font-size: 25px;
	}
	.offer span {
		font-size: 22px;
	}
	.chidon-drive .blue-box {
		padding: 20px;
	}
	.chidon-drive .blue-box h3 {
		padding-bottom: 20px;
		font-size: 20px;
	}
	.chidon-drive .blue-box h3 br {
		display: none;
	}
	.chidon-drive img {
		max-width: 100%;
	}
	.chidon-drive .blue-box h4 {
		font-size: 18px;
	}
	.enroll-item .button {
		font-size: 14px;
		width: auto;
	}
	.enroll-popup {
		padding: 20px;
	}
	.enroll-popup h4 {
		font-size: 18px;
	}
	.offer {
		padding: 30px 0;
	}
}