#App {
  display: flex;
  align-items: stretch;
}

#App > #content {
  width: 100%;
  max-height: calc( 100vh - 58px );
  overflow: auto;
  padding: 8px 8px 0px;
}

/* Handle Expanded Navbar */
@media( min-width: 1025px ){
  #App > #content { height: calc( 100vh - 72px ); }
}
