@import "./colors";

// Buttons should use the primary color
.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color-dark;
  &:hover, &:focus, &:active { 
    background-color: $primary-color-hover; 
    box-shadow: none !important;
  }
}
// modal headers should use it as well
.modal-header {
  background-color: $primary-color;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  > h5 { color: #fff; }
  > button.close {
    color: #fff; opacity: 1; font-weight: 100;
  }
}