@import "./colors";
// cool font?
@import url('https://fonts.googleapis.com/css?family=Alef:400,700|Poppins:300,400,500,600,700|Source+Code+Pro');
// body { font-family: 'Alef', sans-serif; }
// body { font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "Icons16", sans-serif }
body { font-family: 'Poppins', sans-serif; }

.form-control:focus {
  border-color: $primary-color-focus;
  // box-shadow: 0 0 0 0.2rem rgba(0, 97, 202, 0.5);
}
// Buttons should use the primary color
.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color-dark;
  &:hover, &:focus, &:active { 
    border-color: $primary-color-focus;
    background-color: $primary-color-hover; 
    // box-shadow: 0 0 0 0.2rem rgba(0, 97, 202, 0.5);
  }
}
.btn-group .btn { white-space: normal; }
// modal headers should use it as well
.modal-header {
  background-color: $primary-color;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  > h5 { color: #fff; }
  > button.close {
    color: #fff; opacity: 1; font-weight: 100;
  }
}
// Change the toast colors to fit our branding
.Toastify__toast--info {
  background: $primary-color;
}

// customize react-table styles
.ReactTable {
  .rt-th.rt-resizable-header:not(.-cursor-pointer) {
    color: $primary-color; background: #f6f6f6;
  }
  .-pagination button.-btn:not([disabled]):hover,
  .-pagination button.-btn:not([disabled]):focus 
  { background: $primary-color-hover; }
  .-pagination button.-btn { background: $primary-color; color: #fff; }
  input, .-pagination select{ 
    &:focus { box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
  }
}

// customize the scrollbar on chrome and safari
// ::-webkit-scrollbar { height: 6px; width: 6px; }
// ::-webkit-scrollbar-thumb { background: $primary-color; }
// ::-webkit-scrollbar-track { 
//   background: #dee2e6; 
//   box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
// }

// customize react-datepicker colors to make it look like ours
.react-datepicker__current-month, 
.react-datepicker-time__header, 
.react-datepicker__header select,
.react-datepicker__day-name {
  color: #fff;
}
.react-datepicker__header,
.react-datepicker__header select,
.react-datepicker__day--selected { 
  background-color: $primary-color; 
}
.react-datepicker__day--selected:hover { background-color: $primary-color-hover; }
.react-datepicker__header select { margin-top: 10px; border-color: $primary-color; }
.react-datepicker__triangle { border-bottom-color: $primary-color !important; }
.react-datepicker-wrapper, .react-datepicker__input-container { width: 100%; }
.react-datepicker__header select:hover { cursor: pointer; }

// React-Select
.react-select.form-control {
  padding: 0px; border: 0px; // elimite form-control styles
  .react-select__control { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
}
div.react-select__multi-value { background-color: $primary-color-light; }

// Bootstrap tabbed layouts
.nav-tabs {
  overflow-x: auto; flex-wrap: nowrap; border-color: $primary-color;
  
  .nav-item { margin-bottom: 0px; flex-grow: 1; text-align: center; }
  .nav-link:hover{ cursor: pointer; color: $primary-color; }
  
  a.nav-link { white-space: nowrap; font-weight: bold; transition: .1s; }
  a.active.nav-link { background-color: $primary-color; color: #fff; border-color: $primary-color; }
}
.tab-content { padding: 10px; margin-bottom: 10px; border: 1px solid $primary-color; border-top: none; }

// Titles
p.title { 
  border-bottom: 1px solid $primary-color; font-size: 1.4em; padding-left: .5em;
  margin-top: .5em; margin-bottom: .5rem; font-family: Arial, Helvetica, sans-serif;
}

// Forms
.form-control[readonly] { // readonly-inputs should not look like disabled ones
  background-color: #fafafa; user-select: none;
  &:hover{ cursor: pointer; }
}
div[dir='rtl'] > label { width: 100%; text-align: right; } // RTL labels
.row label { margin-top: .5rem; margin-bottom: .2rem; }

// custom pre tags - taken from blupritjs
pre {
  text-transform: none; font-family: 'Source Code Pro', monospace;
  display: block; margin: 10px 0;
  border-radius: 3px; box-shadow: inset 0 0 0 1px rgba(16,22,26,.15);
  background: hsla(0,0%,100%,.7); padding: 13px 15px 12px;
  line-height: 1.4; font-size: 14px; color: #182026;
  word-break: break-all;  word-wrap: break-word;
}