@import 'colors.scss';

$theme-colors: (
  "primary": $primary-color,
  "danger": $danger
);
// clear bootstrap page settings for printing
$print-page-size: auto;
$print-body-min-width: auto;

// $rccs-size: 250px;
// $rccs-name-font-size: 15px;
// $rccs-number-font-size: 1.2em;

@import '~cropperjs/dist/cropper.css';
@import '~react-table/react-table.css';
@import '~react-toastify/dist/ReactToastify.min.css';
@import '~react-datepicker/dist/react-datepicker.css';
@import '~react-credit-cards/es/styles.scss';
@import '~bootstrap/scss/bootstrap';

@import 'branding.scss';
@import 'index.css';
