

div.background {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    font-family: 'Exo', sans-serif;
}



img#home-page-chanuka-logo {
    width: 30vw;
}

img#home-page-logo {
    width: 80px;
}

h3#first-header {
    font-size: 2.2em;
}

p.home-page-p {
    font-size: 1.2em;
    color: #fff;
}

h4#second-header {
    font-size: 1.9em;
}

h2.welcome {
    font-size: 3em;
}

h3.missions-header {
    font-size: 2.5em;
}

div.mission-box-container {
    height: 100px;
    width: 400px;
}

div.mission-box {
    height: 70px;
    width: 400px;
    /* height: 90%;
    width: 90%; */
    transition-duration: 500ms;
    border-radius: 20px;
    cursor: pointer;
    background-image: linear-gradient(to right, #ffce04 , #f47a20);
    background-color: #ffce04;
    position: relative;
}

div.mission-box:hover {
    transition-duration: 500ms;
    background-image: linear-gradient(to right,  #ffce04 , #ff9e04);
}

div.mission-selected{
    background-image: linear-gradient(to right,  #ff7e04 , #ff7e04);
}

div.mission-selected:hover {
    background-image: linear-gradient(to right,  #ff7e04 , #ff7e04);
}

h3.mission-title {
    font-size: 1.1em;
    color: #161746;
}

img.mission-img {
    width: 50px;
    height: 50px;
    /* margin: 4px 15px; */
    object-fit: contain;
}

div.prize-img-container {
    /* background-color:  #ffce04; */
    background-color:  #ffce04;
    border-radius: 15px;
    width: 95px;
    height: 100%;
    /* margin: 0px 15px; */
    padding: 7px;
}

img.prize-img {
    margin: 0px;
    padding: 0px;
    width: 85px;
    height: 60px;
    object-fit: contain;
}

div.notes-div {
    position: absolute;
    z-index: 1;
    background-color: #ffbe04;
    border-radius: 15px;
    padding: 10px;
    width: 400px;
}

div.notes-div::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffbe04 transparent;
}

button.submit-btn {
    /* background-color: #51afe2; */
    background-color: #ffce04;
    color: white;
}

button#mission-submit-btn-first:hover {
    background-color: white;
}

button.account-btn {
    background-color: #ffce04;
    color: white;
}

button.form-submit-btn {
    background-color: #ffce04;
    color: black;
}



/* form */

label {
    font-size: 17px;
}

input.mission-form-inp {
    width: 70%;
}




/* utils */

.text-yellow {
    color: #ffce04;
}

.text-orange {
    color:#f47a20
}




/* mobile */



@media screen and (max-width: 992px) {

    div.container {
        padding-right: 0px;
        padding-left: 0px;
    }
    div.main-content {
        padding: 0px !important;
    }

    div#all-missions-container {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }


    img#home-page-chanuka-logo {
        width: 70vw;
    }

    div.container {
        margin: 5vw;
        width: 90vw;
        max-width: 90vw;
    }

    div.mission-box-container {
        height: 190px;
        width: 100%;
    }

    div.mission-box {
        height: 120px;
        width: 100%;
    }

    div.mission-title-box {
        width: 45%;
    }
        
    h3.mission-title {
        font-size: 1em;
        width: 100% !important;
        padding: 0.5em!important;
        margin: auto;
    }

    h3.py-4.mission-title {
        padding-top: 28% !important;
    }

    h3.py-3.px-3.mission-title {
        padding-top: 15% !important;
    }

    img.mission-img {
        width: 25%;   
        margin-top: 10% !important;
        object-fit: contain;
    }

    div.prize-img-container {
        /* background-color:  #ffce04; */
        background-color:  #ffce04;
        border-radius: 15px;
        width: 65px;
        height: 100%;
        /* margin: 0px 15px; */
        padding: 9px;
    }

    img.prize-img {
        margin: 0px;
        padding: 0px;
        margin-top: 35%;
        width: 60px;
        height: 60px;
        object-fit: contain;
    }

    div.notes-div {
        width: 60%;
        margin-left: 15%;
        font-size: 0.8em;
    }


    button#mission-submit-btn-first {
        width: 50vw!important;
        height: 10vw;
    }

    input.form-control {
        width: 93%;
    }

}