@import 'styles/colors';

#HomePage {

  #logo {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;

    img { height: 175px; }

    ~ h1 {
      font-size: 2em;
      text-align: center;
      font-family: 'Black Ops One', cursive;
    }
  }

  div.widget {
    box-shadow: 0px 2px 5px #e3e3e3;
    border: 1px solid $primary-color-light;
    height: 100%; padding-bottom: 5px; margin-bottom: 10px;
    border-radius: 5px;

    h2 {
      background: $primary-color;
      color: #fff;
      font-size: 1.5em;
      padding: .35em;
      text-align: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}