@charset "utf-8";
/* CSS Document */

html, body {
	width:100%; height:100%; background:#fff;
}
#wrapper {
	display:none;
}
#print {display:block;}
@media print {
  body {
    border: none;
    margin: 0px;
  }

  .noprint {
    display: none;
  }
}