@font-face {
  font-family: gotham;
  src: url('fonts/Gotham-Bold.otf');
}
@font-face {
  font-family: gothamBook;
  src: url('fonts/GOTHAM-BOOK.OTF');
}
@font-face {
  font-family: gothamBlack;
  src: url('fonts/GOTHAM-MEDIUM.OTF');
}
#main img {
  width: 4.375in;
  height: 5.625in;
}
.front, .back {
  margin: 0.125in;
}
.rep {
  transform: rotate(-90deg);
  font-family: gothamBlack;
  font-size: 28pt;
  color: #fff;
  position: absolute;
  left: -0.8in;
  top: 2in;
}
.contestant {
  transform: rotate(-90deg);
  font-family: gothamBlack;
  font-size: 32pt;
  color: #fff;
  position: absolute;
  left: -0.6in;
  top: 2in;
}
.name {
  font-family: gotham;
  font-size: 16pt;
  color: #000;
  top: 2in;
  position: absolute;
  left: 1.5in;
  text-align: center;
  width: 250px;
}
.school {
  font-family: gothamBook;
  font-size: 10pt;
  color: #000;
  top: 2.5in;
  position: absolute;
  left: 1.5in;
  text-align: center;
  width: 250px;
  padding-top: 5px;
}
.counselor {
  font-family: gotham;
  font-size: 10pt;
  top: 3.1in;
  position: absolute;
  left: 1.5in;
  text-align: center;
  width: 250px;
}
.grade {
  font-family: gotham;
  font-size: 10pt;
  color: #fff;
  top: 3.7in;
  position: absolute;
  left: 2in;
  text-align: center;
  width: 0.8in;
  height: 0.25in;
}
.bunk {
  font-family: gotham;
  font-size: 10pt;
  color: #fff;
  top: 3.7in;
  position: absolute;
  left: 2.8in;
  text-align: center;
  width: 0.7in;
  height: 0.25in;
}
.team {
  font-family: gotham;
  font-size: 11pt;
  color: #fff;
  top: 4in;
  position: absolute;
  left: 2.085in;
  width: 1.4in;
  height: 0.25in;
  text-align: center;
}
.chidon_years {
  font-family: gotham;
  font-size: 8pt;
  top: 4.25in;
  left: 0.5in;
  position: absolute;
  width: 90px;
  height: 60px;
  text-align: center;
  color: #fff;
}
.chidon_years .year {
  font-size: 16pt;
  padding-bottom: 2pt;
}
.zone1 {
  width: 1in;
  text-align: center;
  color: #fff;
  font-family: gotham;
  font-size: 6pt;
  position: absolute;
  top: 6.8in;
  left: 0.35in;
}
.cert_id, .test_table, .walking_group, .bowling_lane, .buses {
  font-size: 6pt;
  padding-bottom: 30px;
}
.cert_id img, .buses img {
  width: 15px !important;
  height: 20px !important;
  padding: 5px;
  float: left;
  margin-left: 15px;
}
.test_table img, .walking_group img, .bowling_lane img, .buses img {
  width: 20px !important;
  height: 15px !important;
  padding: 5px;
  float: left;
  margin-left: 15px;
}
.buses .school_bus img {
  width: 25px !important;
  height: 15px !important;
  padding: 5px;
  float: left;
  margin-left: 15px;
}

.zone2 {
  left: 1.45in;
  width: 1.75in;
  padding-left: 0.275in;
  position: absolute;
  top: 6.5in;
  font-family: gothamBook;
  font-size: 10pt;
  color: #000;
}
.contacts {
  font-family: gothamBlack;
  font-size: 12pt;
  opacity: 0.5;
  text-align: center;
  padding-bottom: 30px;
}
.host, .chap, .coordinator, .walking_counselor, .hq {
  font-family: gothamBlack;
  font-size: 7pt;
  margin-top: 10px;
}
.emergency {
  margin-top: 60px;
  text-align: right;
  font-size: 6pt;
}
.zone3 {
  width: 0.7in;
  left: 3.65in;
  background-color: #fff;
  position: absolute;
  top: 5.9in;
  height: 5.15in;
}
.zone3 p {
  margin-top: 4in;
  transform: rotate(-90deg);
  white-space: nowrap;
  font-family: gotham;
  font-size: 10pt;
  margin-left: -10px;
}
.zone1 .info {
  padding-top: 20px;
}
.zone1 .number {
  position: relative;
  top: 5px;
  left: -8px;
  font-size: 9pt;
}
.zone1 .buses .number {
  top: -2px;
}
.zone1 .buses .busInfo {
  position: relative;
  left: -8px;
  font-size: 4px;
}
.zone1 .testInfo {
  position: relative;
  top: 2px;
  left: -6px;
  font-size: 7pt;
}
.zone3 .number {
  font-size: 12pt;
}
.zone3 .info {
  font-size: 7pt;
  font-family: gotham;
}
.staffInfo {
  font-family: gotham;
  font-size: 10pt;
  color: #fff;
  top: 3.85in;
  position: absolute;
  left: 2in;
  text-align: center;
  width: 1.58in;
  line-height: 1.6;
  height: 0.65in;
}
.role {
  transform: rotate(-90deg);
  font-family: gothamBlack;
  font-size: 28pt;
  color: #fff;
  position: absolute;
  left: -0.4in;
  top: 1.9in;
}
.headCounselor {
  font-size: 24pt;
  position: absolute;
  left: -0.7in;
  top: 1.85in;
}
.safetyOfficer {
  font-size: 26pt;
  left: -0.7in;
  top: 1.9in;
}
.staffName {
  color: #fff;
  top: 2.4in;
}
.busInfo {
  top: 4in;
  position: absolute;
  color: #fff;
  font-family: gotham;
  height: 1in;
  left: 0.625in;
}
.busInfo img {
  width: 30px !important;
  height: 20px !important;
  padding-right: 5px;
  float: left;
}
.busDetails {
  width: 0.3in;
  margin-top: 5px;
}
.busDay {
  font-size: 6pt;
}
.busRight {
  position: relative;
  float: right;
  top: -0.36in;
}