.section {
	background-size: cover;
	background-position: center center;
}
.section .wrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.slide {
	background-size: cover;
	background-position: center center;
}
#section2 {
	background-image: url(../img/home/main.jpg);
	padding-top: 10rem;
	text-align: center;
}
header .wrapper img {
  margin: auto;
  top: 50px;
  max-width: 400px; 
}
.section .wrapper .title {
  font-size: 7rem;
  letter-spacing: 0.05em;
}
.section .icons a img {
  max-width: 125px;
  max-height: 75px;
  margin-top: -60px;
}