/* 
 * Story page stylesheet for Chidon
 * 
 * Date: 2/5/2019
 * Author: Esty
 */

 .main {
 	background: url(../img/donate/donate-bg.jpg);
 	background-size: cover;
 	padding-top: 10rem;
 }
 h2.title {
 	text-align: center;
 }
 .main .wrapper {
 	padding-top: 5rem;
 	padding-bottom: 5rem;
 }

.form {
	background: rgba(6, 9, 47, .8);
	border-radius: .5rem;
	width: 100%;
	max-width: 500px;
	padding: 2rem;
	margin: auto;
	margin-top: 4rem;
}
.form .button {
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 2rem;
}
.form p {
	font-weight: 600;
	display: block;
	color: #85abda;
	margin-bottom: .5rem;
	font-size: 1.2rem;
	margin-top: 1rem;
}
.form p {
	font-weight: normal;
}