.CCForm {
  max-height: 0px; padding: 0px 5px;
  overflow: hidden;

  transition: .25s ease-in;

  display: flex; flex-wrap: wrap;
  &.has-add { align-items: center; }

  label, .btn { margin-top: 6px; margin-bottom: 0px; }

  #preview {
    margin-left: 15px;
  }

  > form {
    min-width: 250px;
    width: calc( 100% - 350px );
    max-width: 600px;
    margin-bottom: 20px;
    
    input { 
      font-family: Consolas, Courier, monospace; 
      font-size: 1.2em;
    }
  }

  &.show {
    max-height: 235px; 
    padding: 20px 5px;
  }

  @media ( max-width: 642px ) {
    transition: .5s ease-in;
    flex-wrap: wrap;
    > form { max-width: 100%; }
    &.show { max-height: 425px; padding-top: 0px; }
  }
  @media ( max-width: 630px ) {
    #preview { margin: 0px; }
  }

  > .col-12 {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  // input { margin-bottom: 8px; }

  .save {
    align-self: flex-end;
    .btn {
      width: 100%;
      white-space: pre-wrap;
    }
  }

  .rccs__card--front, .rccs__card--back { box-shadow: none; }
}