.donor-letter {
    width: 8.5in;
    height: 11in;
    page-break-after: always;
    margin: 0 auto;
}

.caller-title-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    font-size: 1.2em;
    font-family: monospace;
    border-bottom: 1px solid;
}

h1.donor-name, .caller-name, .header {
    text-transform: capitalize;
}

.donor-status-item {
    display: inline-block;
    padding: 5px;
    min-width: 100px;
}

.donor-status, .donor-amount {
    padding: .1in .8in;
}
.donor-amount {
    margin-top: .3in;
}

h2.heading {
    margin: 0px;
    border-bottom: 1px solid;
    margin-left: .3in;
    margin-top: .2in;
}

.donor-payment {
    padding-top: .1in;
    margin-top: .25in;
    border-top: 1px solid #ccc;
}
.payment-method {
    font-size: 1.5em;
}

.payment-method i {
    margin-left: .3in;
    font-size: 1.5em;
}

.card-number {
    font-size: 1.6em;
    line-height: 2;
}

.donated {
    display: flex;
}

.donated span {
    flex-grow: 1;
}

.donor-info span {
    padding: 2%;
}

.mailing_address, .email_address {
    line-height: 3;
    font-size: 1.3em;
    margin-top: .2in;
}
.mailing_address span, .email_address span {
    font-weight: bold;
    margin-left: 15px;
}