@font-face {
    font-family: dateFont;
    src: url('fonts/FbTrampolina-Regular.otf');
}
@font-face {
    font-family: rankFont;
    src: url('fonts/GothamNarrow-Black.otf');
}
@font-face {
    font-family: nameEnFont;
    src: url('fonts/GothamNarrow-Bold.otf');
}
@font-face {
    font-family: nameHeFont;
    src: url('fonts/FbGushpanka-Bold.otf');
}
@font-face {
    font-family: infoFont;
    src: url('fonts/GothamNarrow-Book.otf');
}
.slide {
    background-image: url("Medal_Ceremony.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 750px;
}
.logo {
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}
.logo img {
    max-height: 100px;
}
.heDate {
    direction: rtl;
    margin-left: 150px;
    text-align: center;
    padding-top: 100px;
    font-size: 28px;
    font-family: dateFont;
}
.photo {
    float: left;
    max-height: 150px;
    margin-left: 112px;
    margin-top: 20px;
}
.photo img {
    max-height: 134px;
}
.userInfo {
    width: 630px;
    height: 132px;
    margin-left: 265px;
    margin-top: 25px;
    text-align: center;
    position: absolute;
}
.rank {
    font-family: rankFont;
    font-size: 34px;
}
.rank img {
    max-height: 65px;
    margin-top: -15px;
}
.user {
    font-family: nameEnFont;
    font-size: 34px;
}
.user .he {
    font-family: nameHeFont;
}
.info {
    font-family: infoFont;
    font-size: 20px;
}
.medal {
    float: left;
    position: absolute;
}
.medal img.light {
    opacity: 0.3;
}
.row1 {
    margin-top: 33px;
}
.row2 {
    margin-top: 173px;
}
.row3 {
    margin-top: 310px;
}
.row4 {
    margin-top: 448px;
}
.column1 {
    margin-left: 255px;
}
.column2 {
    margin-left: 515px;
}
.column3 {
    margin-left: 780px;
}
.column4 {
    margin-left: 1060px;
}

.instructions {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 20px;
    width: 1200px;
    text-align: center;
    color: red;
    font-weight: bold;
}

@media print {
    .instructions {
        display: none;
    }
}