@import 'styles/colors.scss';

#OrdersPage {
  height: 100%;
  
  .ReactTable {
    max-height: calc( 100% - 40px );
    min-height: 80%;
    @media ( max-width: 500px ) {
      height: 100%;
    }
    margin-bottom: 8px;
  }
}

#OrderModal {
  #total-row {
    align-items: flex-end;
    p {
      margin-bottom: 0px;
      font-weight: bold;
      font-size: 1.1em;
    }
  }
}
