@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* Core sidebar */
#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  overflow: auto;

  font-family: 'Poppins', sans-serif;
  background: #3e6dc4;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  min-width: 90px;
  max-width: 90px;
  text-align: center;
}

/* Links in the sidebar */
#sidebar ul {
  list-style: none;
  padding-left: 0px;
}
#sidebar ul li a {
  text-align: left;
  padding: 10px;
  font-size: 1.1em;
  display: block;
  position: relative;
}
#sidebar.active ul li a {
  padding: 10px 10px 20px;
  text-align: center;
  font-size: 0.65em;
}
/* Images / Icons in the sidebar */
#sidebar img {
  margin-right: .5em;
}

#sidebar.active img,
#sidebar.active i {
  display: block;
  font-size: 3.5em;
  margin: 0 auto 5px;
  width: 40px;
}
/* styles for second level elements */
#sidebar ul.components li > div a {
  font-size: 0.9em;
  padding-left: 30px;
  background: #335eac;
}
#sidebar ul.components li > div li > div a {
  font-size: 0.8em;
  padding-left: 60px;
  background: #335eac;
}
#sidebar.active ul.components li > div a {
  padding-left: 10px;
  font-size: 0.8em;
}
#sidebar.active ul.components li > div li > div a {
  font-size: 0.65em;
}

/* General Sidebar Styles */
#sidebar a, #sidebar a:hover, #sidebar a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}
#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li a:hover, #sidebar ul li a.open {
  background: #2c539e !important;
}

/* Desktop Design */
@media ( min-width: 768px ){
  
}
/* Mobile Design */
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}

/* Sidebar dropdowns */
#sidebar a.dropdown:before {
  content: "\f0d7";
  transition: transform .25s;

  display: block;
  position: absolute;
  right: 20px;

  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
}

#sidebar.active a.dropdown:before {
  top: auto;
  bottom: 5px;
  right: 50%;
  transform: translateX(50%);
}

#sidebar a.dropdown.open:before{
  transform: rotate(180deg);
}
#sidebar.active a.dropdown.open:before{
  transform: rotate(180deg) translateX(-50%);
}

/* Custom Scrollbar */
#sidebar::-webkit-scrollbar {
  width: 5px;
}
 
#sidebar::-webkit-scrollbar-thumb {
  background: #000; 
}