#StaffPage {
  height: 100%;

  .ReactTable {
    // Supersized displays
    max-height: 87vh;
    // Desktop
    @media ( max-height: 1080px ){ max-height: 78vh; }
    // iPad
    @media ( max-height: 768px ){ max-height: 74vh; }
    @media ( max-height: 731px ){ max-height: 73vh; }
    // mobile
    @media ( max-width: 450px ){ max-height: 82vh; }
  }
}

#StaffDetailPage {
  #save {
    overflow: hidden;
    transition: .5s;
    &.hide { max-height: 0px; }
    &.show { 
      max-height: 55px; 
      padding-top: 10px; padding-bottom: 3px;
      margin-left: -3px; padding-left: 3px;
    }
  }

  .PositionRow, .CreatePositionRow {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;

    .row { 
      align-items: flex-end;
      > div { margin-bottom: .5rem; }
    }

    p { margin-bottom: 0px; }
    label { margin-top: 0px; font-weight: bold; }

    .btn-group {
      margin-top: .5rem;
      width: 100%;
      .btn {
        flex-grow: 1;
        transition: .5s;
      }
    }
  }
}

.CreatePositionRow {
  .platoon {
    transition: .5s;
    max-height: 75px;
    &.hide { overflow: hidden; max-height: 0px; } 
    // reset the animation each time we leave .hide
    .platoon:not(.hide) { animation: show-platoon .5s; }
  }
  // prevent overflow
  @keyframes show-platoon {
    0% { overflow: hidden;}
    99% { overflow: hidden;}
    100% { overflow: visible;}
  }
}
