#Login {
  // style the toggle
  #toggle-password:not(:hover) { color: #888; }
  // animate the login button
  .form .btn { width: 100%; }

  .alert { margin-bottom: .5em; }
  // sign in button section
  #sign-in-with {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    .btn { width: auto; }

    > button, > div {
      margin-bottom: 15px;
    }
  }

  div#links {
    opacity: .9;
    display: flex;
    margin: 0px 0 12px;
    text-align: center;

    a {
      width: 50%;
      flex-grow: 1;

      &:first-child { text-align: left; }
      &:last-child { text-align: right; border-right:none; }
    }
  }

  footer {
    display: flex;
    opacity: .6;
    font-size: .8em;

    a {
      flex-grow: 1;

      &:not(:last-child) {
        border-right: 1px solid $primary-color;
      }
    }

    @media( max-width: 515px ) {
      flex-wrap: wrap;

      a {
        width: 50%;
        padding: 6px 3px;
  
        &:not(:last-child) { border: none; }
        &:nth-child( 1 ),
        &:nth-child( 3 ) {
          border-right: 1px solid $primary-color;
        }

        &:nth-child( 1 ),
        &:nth-child( 2 ) {
          border-bottom: 1px solid $primary-color;
        }
      }
    }
  }
}
