@import '../../../styles/colors.scss';

#UsersPage {
  height: 100%;

  .inline-profile {
    max-height: 65px;
    width: 65px;
    border-radius: 15%;
    border: 1px solid $primary-color;
  }
  
  .ReactTable {
    height: calc( 100% - 150px );
    min-height: 450px;
    // page height grows as content shrinks
    @media ( max-width: 1012px ) {
      height: calc( 100% - 180px ); // top of the page takes up 50px
    }
    @media ( min-width: 769px ) and ( max-width: 837px ) {
      height: calc( 100% - 200px ); // top of the page takes up 50px
    }
    @media ( max-width: 412px ) {
      height: calc( 100% - 60px ); // top of the page takes up 50px
    }
  }
}

#bulk-upload-modal {
  max-width: 650px;

  #warning {
    font-size: 1.3em; font-weight: 500;
    color: #c23030;
  }
}