@import '../../../styles/colors.scss';

#UsersPage {

  .inline-profile {
    max-height: 65px;
    width: 65px;
    border-radius: 15%;
    border: 1px solid $primary-color;
  }

  .btn-group {
    margin: 10px 0px;
    width: 100%;
    justify-content: flex-end;
    min-height: fit-content;
  }
  
  .ReactTable {
    // Supersized displays
    max-height: 87vh;
    // Desktop
    @media ( max-height: 1080px ){ max-height: 76vh; }
    // iPad
    @media ( max-height: 768px ){ max-height: 71vh; }
    @media ( max-height: 731px ){ max-height: 70vh; }
    // mobile
    @media ( max-width: 450px ){ max-height: 80vh; }

    .rt-tr-group { overflow: hidden; }
    .rt-tr { align-items: center; }
    .rt-td { white-space: initial; }
  }
}

#bulk-upload-modal {
  max-width: 650px;

  #warning {
    font-size: 1.3em; font-weight: 500;
    color: #c23030;
  }
}