@import 'styles/colors.scss';

#PrizesPage {
  height: 100%;

  .inline-profile {
    max-height: 65px;
    width: 65px;
    border-radius: 5px;
    border: 1px solid $primary-color;
  }
  
  .ReactTable {
    height: calc( 100% - 50px );

    .rt-td:last-child{ text-transform: capitalize; }
  }
}

.Stock {
  transition: .25s ease-in-out;
  color: green; font-size: 1.3em;
  &.low { color: red; }
  &.warning { color: orange; }
}

#PrizeModal {
  max-width: 700px;

  .profile-picture {
    max-width: fit-content; max-height: 210px;
    > img.profile-img {
      border-radius: 5px; border: 1px solid $primary-color; max-height: 210px;
    }
  }

  @media( max-width: 500px ) {
    .prize-picture {
      text-align: center;
      label { width: 100%; }
    }

    .profile-picture {
      max-height: 150px;
      > img.profile-img { max-height: 150px; }
    }
  }
  
}
