@import "styles/colors";

#SoldierPage, #NewSoldierModal {
  .ProfileRow {
    text-align: center;

    div#gender-row {
      font-size: 1.25em;
      padding: 8px 0px 0px;
    }

    .profile-picture {
      max-height: 175px;
      max-width: fit-content;
      > img:not(.rank) {
        max-height: 175px;
        border-radius: 15px;
        border: 1px solid $primary-color;
      }
    }
    .profile-picture.editable:not(.ie):hover:before,
    .profile-picture.editable:not(.ie):focus:before {
      transition: .5s;
      @media ( min-width: 500px ) { font-size: 2em; }
      @media ( min-width: 575px ) { font-size: 3em; }
    }

    @media ( max-width: 575px ) {
      .profile-picture {
        margin-bottom: 10px;
        > img:not(.rank) { max-height: 150px; }
      }
      div#gender-row { padding: 0px 0px 8px; }
    }
  }
}

#SoldierPage {
  padding-bottom: 10px;

  #image-row > div {
    align-self: center;
  }

  div[dir=rtl] > label { font-size: .9em; }

  > .row { margin-bottom: .7em; }
  .form-check-input {
    position: relative; margin-left: 0px;
  }

  .enrollment label { display: block; }

  .RankRow {
    text-align: center;
    border-top: 1px dashed $primary-color-focus;
    margin: 0px -10px;
    padding: 10px 0px;
  
    .RankRow-rank {
      p { margin-top: .2rem; margin-bottom: 0px; }
      img{ max-width: 150px; }
    }
  
    .RankRow-medals {
      display: flex;
      flex-wrap: wrap;
  
      div {
        display: inline-block;
        margin: 10px;
        max-width: 90px;
        transition: .25s;
        img { width: 100%; }
        p { font-size: .8em; margin-top: .4rem; margin-bottom: 0px; }
        @media ( max-width: 630px ) {
          max-width: 70px;
        }
        @media ( max-width: 414px ) {
          max-width: 65px;
          p { font-size: .65em; }
        }
      }
    }
  }
}
