body {
  background-color: #678fc2;
  margin: 10px;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.body {
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  background-color: white;
  padding: 4px 10px 5px;
}

a, a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #7e1482;
}

a:hover {
  color:#EBBD34;
}

a:active {
  outline: 2px #df73ff solid;
}

table {
  border-collapse: collapse;
}

caption, h3 {
  font-size: 150%;
}

address {
  font-size: 135%;
  font-style: normal;
}

thead {
  display: table-header-group;
}

li {
  list-style-position: inside;
}

.bold {
  font-weight: bold;
}

.onepage {
  page-break-before: always;
  page-break-after: always;
  margin-top: 2em;
}

.onepage_after {
  page-break-after: always;
  margin-top: 2em;
}

.align_th_left th {
  text-align: left;
}

.align_th_right th {
  text-align: right;
}

.list thead tr {
  background-color: #fdf8ea;
}

.list tbody tr.even td {
  border-bottom: none;
  background-color: #f4f4f4;
}

.list tbody tr.odd td {
  border-bottom: none;
  background-color: white;
}

.list td, .list th {
  border-bottom: 1px solid #cccccc;
  padding: 15px;
}

.list tbody tr th {
  padding-top: 45px;
  background-color: #e4edd1;
}

.list table a, .list table a:visited {
  text-decoration: underline;
  color: #1c1c1c;
}

.list_left th {
  text-align: left;
}

.list_righ th {
  text-align: right;
}

.admin .list tbody {
  border-top: 3px double black;
}

.admin table.list {
  border-bottom: 3px double black;
}

td.boxed_links {
  padding-left: 0px;
  padding-right: 0px;
}

.boxed_links a {
  display: block;
  float: left;
  margin: 0px 0px 3px 3px;
  padding: 2px;
  background-color: #e5f8ff;
  text-decoration: underline;
}

.grid td, .grid th {
  padding: 1px 2px;
}

.grid td {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

.plain_grid td, .plain_grid th {
  padding: 4px;
}

.plain_grid td, .plain_grid th {
  border: 1px solid black;
  vertical-align: top;
}


.pretty {
  border: 2px solid #b0aca2;
}

.pretty th {
  background-color: #fdf8ea;
  border: 2px solid #b0aca2;
}

.pretty th, .pretty td {
  padding: 2px 4px;
}

.pretty_grid th {
  background-color: #fdf8ea;
}

.pretty_grid td, .pretty_grid th {
  border: 2px solid #b0aca2;
  padding: 2px 4px;
}

.pretty_grid .double {
  border-top: 6px double #b0aca2;
}

.pretty_grid .double2 {
  border-top: 6px solid black;
}

.pretty_grid tr.odd th {
  background-color: #ccffff;
}

.pretty_grid tr.even th {
  background-color: #00ffff;
}

.pretty_grid tr th.neutral {
  background-color: #d9d9d9;
}

.marks th {
  text-align: left;
  font-size: 110%;
}

.marks td {
  vertical-align: top;
}

input, select, textarea {
  color: black;
  background-color: #fdf8ea;
  border: 1px #3d523c solid;
  margin-bottom: 3px;
}

input:focus, select:focus, textarea:focus {
  outline: 2px #df73ff solid;
}

.input {
  background-color: #fdf8ea;
}

.rows input {
  width: 30em;
}

.rows .submit, .rows .file, .rows .checkbox {
  width: auto;
}

.header {
  border: 1px solid black;
  border-bottom: none;
  background-color: white;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
}

.header h1 {
  padding: 4px 20px;
  margin: 0px;
}

.header img {
  vertical-align: middle;
}

.header #menu {
  background-image:url(images/header_menu_bg.png);
  background-repeat:repeat-x;
  color:#11449E;
  height: 26px;
}

.header #menu a {
  padding: 0px 20px;
  line-height: 26px;
  display: block;
}

.header_left #menu a {
  float: left;
  border-right: 1px solid #a1c3ed;
}

.header_right #menu a {
  float: right;
  border-left: 1px solid #a1c3ed;
}

.header #menu a.selected {
  background-image:url(images/header_menu_selected_bg.png);
}

.header #menu a:active, .header #menu a:hover {
  background-image:url(images/header_menu_hover_bg.png);
  background-repeat:repeat-x;
}

.footer {
  border: 1px solid black;
  border-top: 6px solid #e24000;
  background-color: #c9defd;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
}

.footer div {
  margin: 10px;
  background-color: #e1edfd;
  border: 1px solid #2a759b;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px;
}

.content .list {
  min-width: 100%;
}

.ui_school .body {
  background-color: #3593c3;
  color: white;
}

.ui_school .ui_body {
  background-color: #9ac9e1;
  color: white;
}

.ui_school .content .infobox, .ui_school .content .infobox2, .ui_school .box_head, .ui_school .box_content {
  border-color: #9ac9e1;
}

.ui_school .content .infobox2, .ui_school .head_box {
  background-color: #eff7fa;
}

.ui_school .list tr {
  border-left: 1px solid #9ac9e1;
  border-right: 1px solid #9ac9e1;
}

.ui_school .list td {
  border-color: #9ac9e1;
}

.ui_school .list thead tr {
  background-color: #c8e3ee;
  border-top: 1px solid #9ac9e1;
}

.ui_school .list {
  border-bottom: 1px solid #9ac9e1;
}

.ui_school .list tbody td {
  background-color: #f4f4f4;
}

.ui_programs .body {
  background-color: #acc373;
  color: white;
}

.ui_programs .ui_body {
  background-color: #ebf0dc;
  color: black;
}

.ui_reports .body {
  background-color: #dba15d;
  color: white;
}

.ui_reports .ui_body {
  background-color: #e1c5a4;
  color: black;
}

.sub_menu {
  margin-bottom: 4px;
  color: black;
  background-color: #e1edfd;
  border: 1px solid #2a759b;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 6em;
}

.sub_menu h2 {
  margin: 10px;
}

.ui_menu {
  width: 200px;
  padding-top: 2em;
}

.ui_menu dl dt {
  background-color: white;
  color: black;
  padding: 5px;
  margin: 2px 0px;
}

.ui_menu dl dd {
  margin: 0px;
  padding: 0px;
}

.ui_menu ul {
  list-style-type: none;
  padding: .5em 1em;
  margin: 0px;
}

.ui_menu ul li {
  padding: 0px 0px .5em;
}

.ui_menu dl.one_counter {
  counter-reset: item;
}

.ui_menu dl.one_counter>dd ol>li:before {
  counter-increment: item;
  content: counter(item) ". ";
}

.ui_menu dl.one_counter>dd ol {
  list-style: none inside none;
}

.content {
  background-color: white;
  color: black;
  border: 2px solid #3593c3;
  border-top: none;
  border-bottom: none;
  padding: 30px;
  min-height: 400px;
}

.content>* {
 background-color: white;
}

.left .ui_menu {
  float: left;
}

.left .ui_menu ul li:before {
  content: "» ";
}

.right .ui_menu {
  float: right;
}

.right .ui_menu ul li:before {
  content: "« ";
}

.left .content {
  margin-left: 200px;
}

.right .content {
  margin-right: 200px;
}

.infobox {
  padding: 10px 30px;
  min-height: 75px;
  border: 1px solid #2a759b;
  background-image: url(images/info.png);
  background-repeat: no-repeat;
}

.infobox li {
  list-style-position: outside;
}


.content h2, .infobox h2, .infobox h3, .infobox p {
  margin-top: 0px;
}

.left .infobox {
  background-position: top left;
  padding-left: 90px;
}

.right .infobox {
  background-position: top right;
  padding-right: 90px;
}

.infobox2 {
  padding: 5px 10px;
  min-height: 75px;
  border: 1px solid #2a759b;
  border-top: none;
  background-color: #f4f4f4;
  margin-bottom: 30px;
}

.box_head, .box_content {
  border: 1px solid black;
  vertical-align: top;
}

.box_content {
  background-color: #f4f4f4;
}

.box_content .list tr {
  border-left: none;
  border-right: none;
}

.body_header_left {
  margin-top: 2px;
  width: 48%;
  text-align: center;
  float: left;
}

.body_header_right {
  margin-top: 2px;
  width: 48%;
  text-align: center;
  float: right;
}

.left_menu {
  clear: both;
  font-size: 200%;
}

.left_menu_overlay {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 4px;
  font-size: 50%;
}

h1 {
  clear: right;
}

.admin h1 {
  text-transform: uppercase;
  color: #38761d;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.admin h2 {
  color: #38761d;
  padding: 1em 0px .5em 0px;
  margin: 0px;
}

.admin h3 {
  padding: 0px;
  margin: 0px;
}

ul.admin {
  font-size: 125%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul.admin li {
  margin: 1em 0px;
}

ul.admin li ul {
  padding: 0px 15px;
}

ul.admin li ul li {
  margin: 0px;
}

#track_level {
  border-collapse: separate;
  border-spacing: 6px;
}

#track_level td {
  padding: 2px;
  background-color: #dddddd;
  white-space: nowrap;
  border: 4px outset black;
}

#track_level td:hover, #track_level td:active {
  border-style: inset;
}

#track_level #selected {
  background-color: #fdf8ea;
}

.task_grid td input, .task_grid td textarea, .task_grid td select {
  width: 100px;
}

.task_grid th {
  font-size: 150%;
}

.task_grid td {
  padding: 8px 4px;
}

.missions {
  border-collapse: separate;
  width: 100%;
}

.missions .mission_name tr th {
  background-color: #013567;
  color: #e2efff;
  height: 82px;
  font-size: 150%;
  padding: 0px 5px;
}

.missions .mission_name tr th img {
  height: 80px;
  display: block;
  background-color: white;
}

.missions .mission_name tr th label {
  background-color: #d9d9d9;
  padding: 10px;
  color: red;
  font-weight: normal;
  white-space: nowrap;
  font-size: 80%;
  display: block;
}

.left .missions .mission_name tr th:first-child, .right .missions .mission_name tr th:last-child {
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  border-left: 3px solid #033665;
  padding-left: 20px;
}

.left .missions .mission_name tr th:last-child, .right .missions .mission_name tr th:first-child {
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
  border-right: 3px solid #033665;
  padding-right: 20px;
}

.missions .tasks {
  background-color: #e2efff;
  color: #033665;
}

.left .missions .tasks tr td:first-child, .right .missions .tasks tr td:last-child, .left .missions .tasks tr th:first-child, .right .missions .tasks tr th:last-child {
  border-left: 3px solid #033665;
}

.left .missions .tasks tr td:last-child, .right .missions .tasks tr td:first-child, .left .missions .tasks tr th:last-child, .right .missions .tasks tr th:first-child {
  border-right: 3px solid #033665;
}

.missions .tasks th {
  border-bottom: 1px solid #033665;
  padding: 5px;
  vertical-align: bottom;
}

.left .missions .tasks th {
  text-align: left;
}

.right .missions .tasks th {
  text-align: right;
}

.missions .tasks th h3 {
  font-weight: normal;
  margin: 1em 0px 0px 0px;
  padding: 0px;
  font-size: 175%;
}

.missions .tasks td {
  border-bottom: 1px solid #033665;
  padding: 5px;
}

.missions .tasks td:first-child+td {
  border-left: 1px solid #033665;
  border-right: 1px solid #033665;
}

.missions .tasks td img {
  display: block;
  margin: auto;
}

.missions .spacer td {
  border-top: 3px solid #033665;
}

.left .missions .alt_mission tr th:first-child, .right .missions .alt_mission tr th:last-child, .left .missions .alt_mission tr td:first-child, .right .missions .alt_mission tr td:last-child {
  border-left-color: red;
}

.left .missions .alt_mission tr th:last-child, .right .missions .alt_mission tr th:first-child, .left .missions .alt_mission tr td:last-child, .right .missions .alt_mission tr td:first-child {
  border-right-color: red;
}

.missions .alt_mission_name tr:first-child td {
  border: 3px solid red;
  padding: 10px;
}

.missions .alt_mission_name tr:last-child {
  background-color: red;
}

.missions .alt_spacer td {
  background-color: red;
}

.missions .post_alt_spacer td {
  border-top-color: red;
}

.icalendar {
  position: absolute;
  width: 190px;
  height: 255px;
  bottom: 0px;
  background-color: white;
}

.icalendar2 {
  position: absolute;
  width: 190px;
  height: 255px;
  top: 1em;
  right: 0px;
  background-color: white;
  z-index: 5;
}

.report {
  clear: both;
}

.report .logos img {
  height: 2in;
}

.report h2 {
  margin: 0px;
  padding: 0px;
}

.report .grid {
  width: 100%;
}

.report .grid th {
  border: 1px solid black;
  color: white;
  background-color: black;
}

.report .grid td {
  padding: 0px .15in;
  vertical-align: top;
}

.report address {

}

.report_left address {
  margin-left: .15in;
}

.report_right address {
  margin-right: .15in;
}

.report_left p, .report_left dl, .report_left h4 {
  margin-left: .15in;
}

.report_right p, .report_right dl, .report_right h4 {
  margin-right: .15in;
}

.report .tasks td {
  text-align: center;
  vertical-align: middle;
}

.report_left .tasks tbody th, .report_left .tasks tbody .description, .report_left .grid td {
  text-align: left;
}

.report_right .tasks tbody th, .report_right .tasks tbody .description, .report_right .grid td {
  text-align: right;
}

.report .tasks tbody .description {
  vertical-align: top;
  font-size: 90%;
}

.report .summary .name, .report .chain_tasks .name {
  color: green;
}

.report .summary .description, .report .chain_tasks .description {
  color: blue;
}

.report .chain_tasks td {
  vertical-align: top;
}

.report .chain_tasks .mission_description, .report .tasks .mission_description {
  font-weight: normal;
  margin-left: 0px;
  margin-right: 0px;
}

.tasks .printbox {
  border: 1px solid black;
  width: 1em;
  margin: .5em auto;
}

.chain_tasks .inline_printbox {
  border: 1px solid black;
  padding: 0px .5em;
  font-size: 75%;
}

.chain_tasks .inline_countbox {
  border: 1px solid black;
  padding: 0px 1em;
  font-size: 200%;
}

.chain_tasks .parent_countbox {
  line-height: 2;
}

.tasks .filled_box, .chain_tasks .filled_box {
  background-color: black;
}

.summary td {
  vertical-align: top;
}

.summary .printbox {
  border: 1px solid black;
  width: 4em;
  height: 2em;
  margin: .5em auto;
}

.report h3 {
  font-size: 125%;
  margin-bottom: 0px;
}

.report dl {
  float: left;
  border: 1px solid black;
  padding: 0px .5em .5em .5em;
}

.report dt {
  font-weight: bold;
  margin-top: .5em;
}

#user_prizes {
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}

#user_prizes .points {
  -moz-column-break-after: avoid ;
  -webkit-column-break-after: avoid;
  column-break-after: avoid;
  background-color: #757575;
  color: white;
  text-align: center;
  border: 1px solid #757575;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  padding: 6px 0px;
  margin: 4px 0px;
}

#user_prizes .prize {
  line-height: 25px;
  font-size: 14px;
  border-top: 2px solid #8c8c8c;
  padding: 4px 0px;
}

#user_prizes .first {
  border-top: none;
}

#user_prizes .num, #user_prizes .tot {
  border: 2px solid #757575;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 4px 2px;
  font-size: 10px;
}

#user_prizes .num input {
  border: none;
  margin: 0px .5em;
}

#user_prizes .top .num, #user_prizes .top .tot, #user_prizes .top .name {
  border-color: 757575;
  color: #222222;
}

#user_prizes .off .num, #user_prizes .off .tot {
  border-color: transparent;
}

@media print {
  body {
    border: none;
    margin: 0px;
    background-color: white;
  }

  .body {
    border: none;
    padding: 0px;
    margin: 0px;
  }

  .header, .body_header_left, .body_header_right, .left_menu, .noprint {
    display: none;
  }

  .footer {
    border: none;
    background-color: white;
  }

  .footer div {
    border: none;
    background-color: white;
    padding: 0px;
    margin: 0px;
  }

  .onepage {
    margin-top: 0px;
  }

  .report {
    font-size: 8px;
  }

  .prizes .printbox {
    height: .25in;
  }

  .tasks .printbox {
    width: .12in;
    height: .12in;
    margin: .06in auto;
  }

  .summary .printbox {
    border: 1px solid black;
    width: .50in;
    height: .25in;
    margin: .06in auto;
  }

  .tasks .filled_box {
    border: .07in solid black;
    padding: 0px;
    width: 0px;
    height: 0px;
  }

  .chain_tasks .inline_printbox {
    border: .01in solid black;
    font-size: 0px;
    padding: .06in;
  }

  .chain_tasks .filled_box {
    border: .07in solid black;
    padding: 0px;
  }

  .chain_tasks .inline_countbox {
    border: 1px solid black;
    font-size: 0px;
    padding: .25in;
  }

  .chain_tasks .parent_countbox {
    line-height: .75in;
  }

  .report .grid th {
    color: black;
    background-color: white;
  }

  .report .grid th h2 {
    border: 1px solid black;
  }

  .report .summary .name {
    color: black;
    font-weight: bold;
  }

  .report .summary .description {
    color: black;
  }

  .report .summary .duplicate {
    font-style: italic;
  }

  .sub_menu, .ui_menu {
    display: none;
  }

  .left .content {
    margin-left: 0px;
  }

  .right .content {
    margin-right: 0px;
  }

  .content {
    border: none;
    padding: 0px;
  }

  .rank_color {
    color: black !important;
  }
}
