@import '../../../styles/colors.scss';

#RegistrationPage {
  height: 100%;
  
  .selected-row {
    background-color: $primary-color-light !important;
  }

  .ReactTable {
    height: calc( 100% - 200px );
    // page height grows as content shrinks
    @media ( min-width: 769px ) and ( max-width: 880px ) {
      height: calc( 100% - 220px );
    }
    @media ( max-width: 411px ) {
      height: calc( 100% - 140px );
    }
  }

  #total{
    margin-bottom: 10px;
  }
}

#RegistrationModal {
  max-width: 650px;
  .th-callout { margin-bottom: 10px; }
  label { margin-bottom: 2px; }
}
