@import '../../../styles/colors.scss';

#RegistrationPage {

  .selected-row {
    background-color: $primary-color-light !important;
  }

  .ReactTable {
    // Supersized displays
    max-height: 87vh;
    // Desktop
    @media ( max-height: 1080px ){ max-height: 71vh; }
    // iPad
    @media ( max-height: 768px ){ max-height: 65vh; }
    @media ( max-height: 731px ){ max-height: 63vh; }
    // mobile
    @media ( max-width: 450px ){ max-height: 68vh; }

    .rt-tr-group { overflow: hidden; }
    .rt-tr { align-items: center; &:hover{ cursor: pointer; } }
    .rt-td { white-space: initial; }
  }

  #total{
    margin-bottom: 10px;
  }
}

#RegistrationModal {
  max-width: 600px;
  .th-callout { margin-bottom: 10px; }
  label { margin-bottom: 2px; }
}
