/* make it take up a full regular page */
.letter {
    width: 8.5in;
    height: 10.11in;
    page-break-after: always;
    margin: 0 auto;
}
/* center the title page vertically and horizontally */
.title-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button#print {
    margin: 0 auto;
    display: block;
    background: #fff;
    padding: 5px 8px;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}

@media print {
    .no-print{
        visibility: hidden;
        display: none;
    }
}
