.points {
  margin: 10px 0px;
}

.points tbody td {
  text-align: right;
}

.regInfo {
    float: right;
    width: 200px;
    border: 1px dashed red;
    height: 200px;
    padding: 5px;
    font-size: 12px;
}

.red {
    color: red;
    font-weight:bold;
}

.photo {
    float: right;
    text-align: center;
}
.photo img {
    border: 1px solid black;
}
.wall {
    line-height: 1.25;
}
fieldset {
    border: 1px solid white;
    padding: 10px;
    padding-top: 0px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 16px;
}
legend {
    margin-left: 20px;
    padding: 5px;
    color: purple;
}