@import "styles/colors";

#UserPage, #NewUserPage {
  padding-bottom: 10px;

  // TODO move to forms.scss
  div.invalid-message { 
    padding-top: .2em; max-height: 0px; transition: .25s;
    overflow: hidden; color: #ff3c3c; 
  }
  // input:invalid[value=""] { border-color: #dcc1c1; }
  input:invalid:not([value=""]) { border-color: #ff3c3c; }
  input:invalid:not([value=""]) + div.invalid-message { max-height: fit-content; transition-delay: 1s; }

  > .row { margin-bottom: .7em; }
  .form-check-input {
    position: relative; margin-left: 0px;
  }

  .profile-picture {
    max-width: fit-content; max-height: 210px;
    > img.inline-profile {
      border-radius: 15px; border: 1px solid $primary-color; max-height: 210px;
    }
    @media ( max-width: 575px ) { margin-bottom: 10px; }
  }
  .profile-picture.editable:not(.ie):hover:before,
  .profile-picture.editable:not(.ie):focus:before {
    transition: .5s;
    @media ( min-width: 500px ) { font-size: 2em; }
    @media ( min-width: 575px ) { font-size: 3em; }
  }

  #gender-row {
    font-size: 1.35em;
    > label {
      user-select: none; margin: 0px 10px 0px 0px;
      &:hover { cursor: pointer; }
    }
  }
}

.RankRow {
  text-align: center;
  border-top: 1px dashed $primary-color-focus;
  margin: 0px -10px;
  padding: 10px 0px;

  .RankRow-rank {
    p { margin-top: .2rem; margin-bottom: 0px; }
    img{ max-width: 150px; }
  }

  .RankRow-medals {
    display: flex;
    flex-wrap: wrap;

    div {
      display: inline-block;
      margin: 10px;
      max-width: 90px;
      transition: .25s;
      img { width: 100%; }
      p { font-size: .8em; margin-top: .4rem; margin-bottom: 0px; }
      @media ( max-width: 630px ) {
        max-width: 70px;
      }
      @media ( max-width: 414px ) {
        max-width: 65px;
        p { font-size: .65em; }
      }
    }
  }
}

