@import 'styles/colors';

#HomePage {

  #logo {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;

    img {
      height: 175px;
    }

    .profile-img {
      filter: drop-shadow( 0 0 0.2rem $primary-color-light );
    }

    ~ h1 {
      font-size: 2em;
      text-align: center;
      font-family: 'Black Ops One', cursive;
    }
  }

  #widgets {
    justify-content: center;
    > div { margin-bottom: 15px; }
  }

  div.widget {
    box-shadow: 0px 2px 5px #e3e3e3;
    border: 1px solid $primary-color-light;
    height: 100%;
    border-radius: 10px;

    h2 {
      background: $primary-color;
      color: #fff;
      font-size: 1.5em;
      padding: .35em;
      text-align: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin-bottom: 0px;
    }

    h2 + div {
      padding-top: 8px;
    }

    .no-data {
      text-align: center;
      height: calc( 100% - 60px );
      min-height: 125px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 1.2em;
      > i { font-size: 2em; }
    }
  }

  &.select-account-type {
    text-align: center;

    .account-type-option {
      padding: 16px 8px;
      margin: 5% 2% 1%;
      box-shadow: 0px 5px 15px #ccc;

      max-width: 500px;
      transition: .5s;

      &:hover {
        cursor: pointer;
        transform: scale( .9 );
      }

      a {
        color: inherit;
        &:hover { text-decoration: none; }
      }

      img {
        max-width: 70%;
        margin-bottom: 12px;
      }

      @media ( min-width: 570px ) {
        width: 46%;
        vertical-align: top;
        display: inline-block;
      }
    }

    #legal {
      margin-top: 6%;
      font-size: .6em;
      opacity: .5;
      a { color: #000; }
    }
  }
}
