/* utilities */
img {
    max-width: 100%;
}
.row.spaced { margin-top: 5%; margin-bottom: 5%; }
.row.spaced .left { text-align: left; }
.row.spaced .right { text-align: right; }
.row.spaced .btn { width: 100%; }

#step-1, #step-2, #step-3 {
    display: none;
}
#pages{
    margin-top: 15px;
}
/* Welcome page */
section#welcome-message {
    text-align: center;
}
/* Step 1 */
#step-1 div.content {
    text-align: center; display: none;
}
#step-1 #children {
    text-align: left;
}
#step-1 .child {
    display: inline-block;
    padding: 15px;
    border-top: 1px solid #ccc
}
/* fix the rows not taking up the full width */
#step-1 .child label, #step-1 #children {
    width: 100%;
}

#step-1 .child img {
    border-radius: 50%;
    background: #31559f;
    border: 1px solid #31559f;
    width: 75px;
    height: 75px;
}

#step-1 .child .name, #step-1 .child .reg_cost {
    margin-bottom: 2px;
}

#step-1 .child .name {
    font-size: 1.6em;
}

#step-1 .child .reg_cost {
    font-size: 1.2em;
    color: red;
}

#step-1 .child .col-2 {
    display: flex;
    align-items: center;
}

/* FontAwesome Checkboxes */
input[type="checkbox"]{
    display: none;
}
span.checkbox {
    display: inline-block;  color: #2c539e;
    text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    font-family: Font Awesome\ 5 Free; font-size: 2em;
}
span.checkbox:before {
    content: "\f0c8";
}
input:checked + span.checkbox:before {
    content: "\f14a";
}