#AchievementsCardsPage {

  h2#available-miles {
    text-align: center;
    margin-top: 12px;
  }

  .btn-group {
    width: 100%;
    margin-top: 35.2px;
    @media ( max-width: 500px ) { margin-top: 10px; }
  }
}